.single-stat-info {
  background: $secondary;
  margin-bottom: 20px;

  .title{
    font-size: 16px;
    padding-bottom: 2px;
  }

  .subtitle {
    color: red !important;
  }
  .main{
    color: white;
    font-size: 28px;
  }

 /* &.small{
    .panel{
      color: white;
    }

    .title {
      color: white;
    }

    .main {
      font-size: 28px;
      color: white;
    }

    .additional{
      font-size: 0.625em;
    }
  }

  &.large{

    .panel{
      color: white;
    }

    .title {
      color: white;
    }

    .main {
      font-size: 4em;
    }

    .additional{
      font-size: 1.250em;
    }
  }
*/
}
