<div class="single-stat-info">
  <div class="panel panel-body title">{{vm.data.title}}</div>
  <div class="panel panel-body no-bottom-border">
    <span class="subtitle" ng-show="vm.data.subtitle">{{vm.data.subtitle}}</span>
    <span class="main">{{vm.data.data | fixedLength }}</span>
    <span class="additional">{{vm.data.additionalData}}</span>
  </div>
</div>
