.session-metadata{
  padding: 0 15px;
  margin: 0;

  .panel-heading{
    border: none;
    color: $tertiary;
  }

  .panel-body{
    margin-bottom: 0;
    padding-bottom: 0;
    .list-group{
      display: inline-block;
      .list-group-item{
        @include border-bottom-radius(0);
        @include border-top-radius(0);
        background-color: transparent;
        border: none;
        border-bottom: 1px solid $secondary-variant;
        color: $tertiary;
        margin-bottom: 16px;
        padding-bottom: 2px;
        padding-left: 0;
        padding-right: 0;

        &:last-of-type{
          margin-bottom: 0;
        }

        span{
          font-size: 0.7em;
        }

        .info{
          color: white;
          float: right;
          font-size: 0.9em;
        }
      }
    }
  }
}