<div class="panel panel-body no-bottom-border session-metadata">
    <div class="panel-body no-bottom-border">
        <ul class="list-group col-md-6">
            <li class="list-group-item"><span>{{'timeAndDate' | translate}}</span><span class="info">{{vm.data.start}} - {{vm.data.end}} / {{vm.data.date}}</span></li>
            <li class="list-group-item"><span>{{'playground' | translate}}</span><span class="info">{{vm.data.pitchName}}</span></li>
            <li class="list-group-item"><span>{{'city' | translate}}</span><span class="info">{{vm.data.city}}</span></li>
        </ul>

        <ul class="list-group col-md-6">
            <li class="list-group-item"><span>{{'players' | translate}}</span><span class="info">{{vm.data.playersCount}} {{'players' | translate}} / {{vm.data.substitions}} {{'substitutions' | translate}}</span></li>
            <li class="list-group-item"><span>{{'weather' | translate}}</span><span class="info">{{vm.data.temperature}} &deg;C / {{vm.data.weather}}</span></li>
            <li class="list-group-item"><span>{{'pitchCondition' | translate}}</span><span class="info">{{vm.data.pitchCondition | translate}}</span></li>
        </ul>
    </div>
</div>
