.double-data-comparison{
  color: white;
  .panel-heading{
    color: white;
    font-size: 0.625em;
    padding-bottom: 1px;
  }

  .primary{
    display: inline-block;

    .data{
      font-size: 4.5em;
    }

    .metric{
      font-size: 1.25em;
    }

  }

  .secondary{
    display: inline-block;
    float: right;
    vertical-align: top;

    .subtitle{
      display: block;
      font-size: 0.625em;
      margin-bottom: 12px;
    }

    .data,
    .metric{
      color: $tertiary;
    }

    .data{
      font-size: 2em;
    }
    .metric{
      font-size: 1.25em;
    }
  }
}