<div class="container">
  <double-data-comparison title="'player'" subtitle="'teamAvg'" primary="vm.playerDistributions[0][0]" secondary="vm.teamDistributions.bottom"></double-data-comparison>
  <double-data-comparison title="'player'" subtitle="'teamAvg'" primary="vm.playerDistributions[0][1]" secondary="vm.teamDistributions.center"></double-data-comparison>
  <double-data-comparison title="'player'" subtitle="'teamAvg'" primary="vm.playerDistributions[0][2]" secondary="vm.teamDistributions.top"></double-data-comparison>

  <div class="row" style="padding-top: 20px">
    <button class="btn btn-info" ng-click="vm.btnOnClick()">Show JSON Editor</button>
    <button class="btn btn-danger" ng-click="vm.btnSave()">Save</button>
    <div ng-show="vm.showJSONeditor">
      <angular-jsoneditor ng-model="vm.obj.data" options="vm.obj.options" style="width: 100%; height: 400px;"></angular-jsoneditor>
      <button type="button" class="" ng-click="vm.changeOptions()"><i class="fa fa-check-circle"></i> change options</button>
      <pre>{{vm.showJSON(vm.obj.data)}}</pre>
    </div>
  </div>
</div>
