<div class="bar-graph">
    <canvas ng-attr-id="{{'chart-bar-'+ vm.chartId}}"
            class="chart chart-bar"
            chart-data="vm.chartData.data"
            chart-labels="vm.chartData.labels"
            chart-options="vm.options"
            chart-dataset-override="vm.datasetOverride"></canvas>
</div>
