<div class="container">
  <period-selector ng-repeat="selector in vm.selectors"
                   on-change="vm.onSelectorChange(selector)"
                   on-remove="vm.removeSelector(selector)"
                   id="selector.id"
                   max="vm.activeSession.sessionMetadata.duration"
                   from="selector.from"
                   to="selector.to"
                   from-min="selector.fromMin"
                   to-max="selector.toMax"
  ></period-selector>
</div>
