<div class="container">
  <editable-input ng-show="vm.showEditableInput" data="vm.testEditableInput.name"></editable-input>
  <editable-input ng-show="vm.showEditableInput" data="vm.teamEditableInput.title[0].name"></editable-input>
  <editable-input  ng-show="vm.showEditableInput" data="vm.playerInputData.title"
  ></editable-input>

  <div class="row" style="padding-top: 20px">
    <button class="btn btn-info" ng-click="vm.btnOnClick()">Show JSON Editor</button>
    <button class="btn btn-danger" ng-click="vm.btnSave()">Save</button>
    <div ng-show="vm.showJSONeditor">
      <angular-jsoneditor ng-model="vm.obj.data" options="vm.obj.options"
                          style="width: 100%; height: 400px;"></angular-jsoneditor>
      <button type="button" class="" ng-click="vm.changeOptions()"><i class="fa fa-check-circle"></i> change options
      </button>
      <pre>{{vm.showJSON(vm.obj.data)}}</pre>
    </div>
  </div>

</div>
