//
// Buttons
// --------------------------------------------------

// Base styles
// --------------------------------------------------

.btn {
  display: inline-block;
  margin-bottom: 0; // For input.btn
  font-weight: $btn-font-weight;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  white-space: nowrap;
  border-radius: 0 !important;
  //width: 75%;

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      @include tab-focus;
    }
  }

  &:hover,
  &:focus,
  &.focus {
    color: $btn-default-color;
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
    @include box-shadow(inset 0 3px 5px rgba(0, 0, 0, .125));
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: $cursor-disabled;
    @include opacity(.65);
    @include box-shadow(none);
  }

  // [converter] extracted a& to a.btn
}

a.btn {
  &.disabled,
  fieldset[disabled] & {
    pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
  }
}

// Alternate buttons
// --------------------------------------------------

.btn-default {
  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
}

.btn-primary {
  background: inherit;
  border: 1px solid white;
  color: white;
  cursor: pointer;

  &:hover{
    color: white !important;
  }
  //margin: 10px;
  //opacity: 0.5;
  //color: white;
  /*position: relative;
  width: 75%;
  height: 50px;*/
}

.btn-secondary{
  background: $primary;
  color: $tertiary;
  cursor: pointer;
  &:hover,&:focus,&:active{
    //color: $tertiary !important;
    color: white !important;
  }
}

// Success appears as green
.btn-success {
  @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
}

// Info appears as blue-green
.btn-info {
  @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
}

// Warning appears as orange
.btn-warning {
  color: white;
  background: black;
}

// Danger and error appear as red
.btn-danger {
  @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
}

// Link buttons
// -------------------------

// Make a button look and behave like a link
.btn-link {
  color: $link-color;
  font-weight: normal;
  border-radius: 0;

  &,
  &:active,
  &.active,
  &[disabled],
  fieldset[disabled] & {
    background-color: transparent;
    @include box-shadow(none);
  }
  &,
  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
  }
  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
    background-color: transparent;
  }
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      color: $btn-link-disabled-color;
      text-decoration: none;
    }
  }
}

.btn-rounded{   //added for TrackticsTheme
    background: inherit;
    border: 3px solid $primary;
    background-image: none;
    outline: 0;
    box-shadow: none;
    border-radius: 25px !important;
    color: $tertiary;
    &:hover{
      color: white;
    }
    &:active,&:focus, &:focus:active{
      background-image: none;
      outline: 0;
      box-shadow: none;
      border: 3px solid $primary;
      color: white;
      background: $primary;
    }
}

// Button Sizes
// --------------------------------------------------

.btn-lg {
  // line-height: ensure even-numbered height of button next to large input
  @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $btn-border-radius-large);
}

.btn-sm {
  // line-height: ensure proper height of button next to small input
  @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $btn-border-radius-small);
}

.btn-xs {
  @include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $line-height-small, $btn-border-radius-small);
}

// Block button
// --------------------------------------------------

.btn-block {
  display: block;
  width: 100%;
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
  margin-top: 5px;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}

/*
.btn-subs {
  position: relative;
  width: 75%;
  height: 50px;
  background: inherit;
  margin: 10px;
  //opacity: 0.5;
  border: 1px solid black;
  color: white;
  cursor: pointer;
}

.updateBtn {
  background: deepskyblue;
  border: 1px solid deepskyblue;
}

.updateBtn:hover {
  color: deepskyblue;
  background: white;

}

.updateBtn:active {
  color: white;
  background: cadetblue;
}

.logoutBtn {
  background: #ff2900;
  border: 1px solid #ff0029;
}

.logoutBtn:hover {
  color: crimson;
  background: white;

}

.logoutBtn:active {
  color: white;
  background: crimson;
}

.updateBtn, .logoutBtn {
  position: relative;
  width: 75%;
  color: white;
  height: 50px;
  margin: 10px;
  cursor: pointer;
  //left: 5%;
}

.btn-whiteBg {
  position: relative;
  width: 75%;
  height: 50px;
  margin: 10px;
  color: black;
  background: white;
  border: 1px solid black;
}

.btn-BlackBg{
  position: relative;
  width: 250px;
  height: 50px;
  margin: 10px 0px;
  color: white;
  background: black;
  border: 1px solid black;
}
.btn-rounded{
    border-radius: 30%;
}*/

