.text-black {
  color: black !important;
}

.text-grey {
  color: grey !important;
}

.text-danger {
  color: red !important;
}

.text-white {
  color: white !important;
}

.text-warning {
  color: orange !important;
}

.text-success {
  color: #00b881 !important;
}
.text-info{
  color: #5bc0de !important;
}




.bg-black {
  background: black !important;
}

.bg-grey {
  background: grey !important;
}

.bg-danger {
  background: red !important;
}

.bg-white {
  background: white !important;
}

.bg-warning {
  background: orange !important;
}
.bg-success {
  background: #00b881 !important;
}
.bg-info{
  background: #5bc0de !important;
}




.border-black {
  border: 1px solid black !important;
}

.border-grey {
  border: 1px solid grey !important;
}

.border-danger {
  border: 1px solid red !important;
}

.border-white {
  border: 1px solid white !important;
}

.border-warning {
  border: 1px solid orange !important;
}
.border-success {
  border: 1px solid #00b881 !important;
}
.border-info{
  border: 1px solid #5bc0de !important;
}
