.img-avatar{
  width: 100px;
  height: 100px;
  margin: 10px 20px;
  border: 1px solid transparent;
  border-radius: 50%;
}
.img-box{
  width: 295px;
  height: 295px;
  }
figcaption{
  color: white;
  text-align: center;
}
.img-semiTransparent{
  opacity: 0.5;
}
.img-box-small{
  width: 60px;
  height: 60px;
}
