.main-panel{
  @include transition(min-height 0.2s ease-out);

  background-color: $secondary;
  min-height: 52px;
  max-width: 240px;
  min-width: 240px;
  padding: 0;

  &.open{
    //@include transition(min-height 0.2s ease-out);
    height: 100%;
    min-height: 100%;
  }

  &.closed{
    .player-sessions-main-panel{
      :not(.dropdown-arrow){
        @include transition(min-height 0.2s ease-out);
        @include opacity(0);
        display: none;
        min-height: 0;
        height: 0;
        pointer-events: none;
      }
    }
  }

  .main-panel-content{
    @include transition(left 0.3s ease-out);
    height: 100%;
    position: relative;

    &.ng-enter{
      @include transition-delay(0.5s);
      left: -100%;
    }

    &.ng-enter-active{
      left: 0;
    }

    &.ng-leave {
      left: 0;
    }

    &.ng-leave-active{
      left: -100%;
    }
  }

  .button{
    @include transition(background-color 0.2s ease-out, color 0.2s ease-out);
    border-bottom: 1px solid $primary;
    display: block;
    text-align: center;
    color: $tertiary;
    cursor: pointer;
    padding: 20px 0;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;

    &:hover{
      background-color: $primary;
      color: white;
      &.dropdown-arrow{
        &:after{
          border-top-color: $secondary;
        }
      }
    }

    &.compare-button{
      &.active{
        background-color: $button-active;
        color: $secondary;
        &:hover{
          background-color: $button-active-hover;
          color: $secondary;
        }
      }
    }

    &.dropdown-arrow{
      font-size: 0.8em;

      &:after{
        @include translate(0, -50%);

        border-left: 0.8em solid transparent;
        border-right: 0.8em solid transparent;
        border-top: 0.8em solid $primary;

        content: " ";
        position: absolute;
        pointer-events: none;
        top: 50%;
        right: 20px;
        height: 0;
        width: 0;
      }
    }

  }

  .entity-filters{
    padding: 13px 20px 0 11px;

    ul{
      @include border-top-radius(20px);
      @include border-bottom-radius(20px);

      border: 1px solid $primary;
      list-style: none;
      padding: 0;
      position: relative;
      text-align: center;
      margin: 0;

      li{
        color: $tertiary;
        cursor: pointer;
        display: inline-block;
        font-size: 0.8em;
        padding: 10px 0;
        position: relative;
        text-transform: capitalize;
        z-index: 1;

        &.col-md-2{
          width: 20%;
        }

        &.pill{
          @include border-top-radius(20px);
          @include border-bottom-radius(20px);
          background-color: $primary;
          display: block;
          height: 100%;
          position: absolute;
          top: 0;
          z-index: 0;
        }
      }
    }
  }

  .entity-additional-filters{
    color: $tertiary;
    padding-top: 18px;

    .open-up{
      border-bottom: 1px solid $primary;
      color: $tertiary;
      cursor: pointer;
      display: block;
      font-size: 0.8em;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;

      .text{
        &:first-letter{
          text-transform: uppercase;
        }
      }

      .spots{
        margin-bottom: 6px;
        .dot{
          @include border-top-radius(6px);
          @include border-bottom-radius(6px);

          background-color: $tertiary;
          display: inline-block;
          height: 6px;
          width: 6px;
        }
      }
    }

    .additional-filtering-options{
      @include transition(min-height 0.4s ease-out);

      //height: 0;
      min-height: 0;
    }

    &.open{
      .additional-filtering-options{
        @include transition(min-height 0.4s ease-out);
        min-height: 200px;
      }
    }

    .panel-tracktics{
      background: transparent;

      ul{
        list-style: none;
        margin: 0;
        padding-left: 11px;

        li{
          display: block;
          margin-bottom: 18px;
        }


      }

      .panel-heading{
      }

      h4{
        border-bottom: 2px solid $primary;
        a{
          color: white;
          display: block;
          font-size: 0.6em;
          font-weight: normal;
          padding-bottom: 7px;
          padding-left: 15px;
          text-decoration: none;
        }
      }
      .panel-body{
        border: none;
        padding: 12px 0 0 15px;
      }
    }
  }

  .entity-list{

    height: 84%;
    padding-top: 16px;

    &.with-additional-filters{
      height: 79%;
    }

    a {
      color: $tertiary;
      display: block;
      position: relative;
      text-transform: uppercase;
      height: 100%;
      padding: 20px 14px 20px 14px;

      @include transition(background-color 0.2s ease-out);

      border-bottom: 1px solid $primary;
      cursor: pointer;

      &:hover {
        background-color: $primary;
        color: white;
        text-decoration: none;
      }

      .image {
        display: inline-block;
        height: 25px;
        margin-right: 11px;
        vertical-align: middle;
        width: 25px;

        &.game {

        }

        &.training {

        }

        img{
          @include border-bottom-radius(25px);
          @include border-top-radius(25px);
          height: 100%;
          width: 100%;
        }
      }

      .data-wrapper {
        display: inline-block;
        vertical-align: middle;

        .title {
          margin-bottom: 7px;
        }
        .details {
          font-size: 0.7em;
          text-transform: capitalize;
        }
      }

      .selector {

        @include translate(0, -50%);
        @include transition(opacity 0.2s ease-out);

        display: inline-block;
        position: absolute;
        top: 50%;
        right: 0;
        vertical-align: middle;

        &.ng-hide-add{
          @include opacity(1);
        }

        &.ng-hide-add-active{
          @include opacity(0);
        }

        &.ng-hide-remove{
          @include opacity(0);
        }

        &.ng-hide-remove-active{
          @include opacity(1);
        }

      }

      &.active{
        background-color: $primary;
        color: white;
      }

    }
  }

}