.playerProfile {
  padding: 0px;
  background-color: #323232;
  position: relative;
  border: 3px solid gray;
  max-width: 400px;
  width: 400px;
  height: 100%;
  min-height: 500px;
  /*min-height: 600px;*/
  display: inline-block;
  margin: 20px;
  vertical-align: top;
  opacity: 0.9;

    //label{
    //  position: relative;
    //}
  p {
    position: relative;
    padding: 2px;
  }

  h3 {
    background: gainsboro;
    margin: 0px;
    padding: 10px;
    color: black;
    z-index: 2;
  }
  small {
    color: #878787;
  }
  .infoTitle {
    color: white;
    text-transform: uppercase;
  }

  .images {
    max-height: 400px;
    max-width: 400px;
    width: 396px;
    height: 396px;
  }

  .profileInfo {
    padding: 15px 0px;
    position: relative;
    background: #323232;
    width: 100%;
    height: 75px;
    color: white;
    opacity: 0.95;

    .fa-pencil {
      position: absolute;
      top: 15px;
    }

    hr {
      border: none;
      border-bottom: 1px solid #1e1e1e;
    }
  }
  .profileInfo p:last-of-type {
    border: none;
  }

  .profileInfo > h2 {
    margin: 0px;
  }

  h3 {
    position: relative;
  }

  h3 > i {
    position: absolute;
    right: 25px;
    margin-right: 25px;
    margin-top: -20px;
  }

  .fa-pencil {
    //position: absolute;
    //top: 5px;
    //right: 5px;
    right: 25px;
    width: 10px;
    height: 10px;
    cursor: pointer;
  }

  h3 .fa-pencil {
    position: absolute;
    top: 25px;
    right: 5px;
  }

  img + .fa-pencil {
    position: absolute;
    top: 10px;
    right: 15px;
  }

  .fa-trophy {
    color: white;
  }

  .imgcaption {
    position: absolute;
    top: 0;
    right: 5px;
  }

  /*.profileinfo {
    background: dimgray;
    position: relative;
    border: 10px solid dimgray;
    color: white;
  }*/

  .numTrainings, .numMatches {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 28px;
    color: white;
  }

  h2 i {
    color: black;
  }

  .profileInfo p > i {
    color: white;
  }

  input {
    background: #323232;
    border: none;
    /*border-bottom: 3px solid #5b5b5b;*/
    width: 90%;
    margin-top: 15px;
    //margin-left:15px;
  }

  /*input[name=newpwd] {
      position: relative;
      border-bottom: 1px solid darkgrey;
      left:1%;
  }*/

  .glyphicon-eye-open {
    position: relative;
    float: right;
    margin-right: 15px;
    margin-top: -30px;
  }

  .login {
    font-size: 18px;
    //padding: 5px;
    color: white;
    background: #323232;

    h3 {
      font-size: 28px;
      background: inherit;
      color: white;
      margin-left: -10px;
      //padding-bottom: 10px;
    }
    p {
      margin: 0px;
    }
    .panel-trackticsHeader {
      margin: 0px 5%;
      //padding-left: 10px;
      background: #323232;
      color: white;
    }
    h1 {
      margin-top: 0px;
      font-size: 32px;
    }
    .panel-trackticsInfo {
      margin: 0px 5%;
    }
  }


  .glyphicon-remove {
    position: absolute;
    right: 0;
    margin-top: 30px;
  }

  .updateBtn {
    background: deepskyblue;
    border: 1px solid deepskyblue;
  }

  .updateBtn:hover {
    color: deepskyblue;
    background: white;

  }

  .updateBtn:active {
    color: white;
    background: cadetblue;
  }

  .logoutBtn {
    background: #ff0029;
    border: 1px solid #ff0029;
  }

  .logoutBtn:hover {
    color: crimson;
    background: white;

  }

  .logoutBtn:active {
    color: white;
    background: darkred;
  }

  .updateBtn, .logoutBtn {
    position: relative;
    width: 75%;
    color: white;
    height: 50px;
    margin: 10px;
    cursor: pointer;
    //left: 2%;
  }

  hr {
    border: 1px solid darkgrey;
    /*margin-top: 0px !important;
    margin-bottom: 0px !important;*/
  }

  /*
  @media all and (min-width: 901px) {
      .main, .first, .second, .third {
          width: auto;
          height: auto;
          margin: 20px;
      }

      img, input{
          font-size: 10px;
          width: 90%;
          height: 100%;
      }
      .fa-close{
          position: absolute;
          right:0;
          margin-top:5px;
      }
  }
  */

  @media all and (max-width: 900px) {
    .playerProfile, .profileInfo {
      width: 75%;
      height: 75%;
      margin: 5px;
    }

    .images, input {
      font-size: 80%;
      width: 90%;
      height: 100%;
    }

    .images {
      width: 100%;
      height: 100%;
    }

    .fa-close {
      position: absolute;
      right: 0;
      margin-top: 5px;
    }
  }

  @media all and (max-width: 600px) {
    .playerProfile, .profileInfo {
      width: 50%;
      height: 50%;
      margin: 5px;
    }

    .images, input {
      font-size: 60%;
      width: 90%;
      height: 100%;
    }

    .images {
      width: 100%;
      height: 100%;
    }

    .fa-close {
      position: absolute;
      right: 0;
      margin-top: 5px;
    }
  }

}






