.component-session-result {
  .wrapper {
    padding: 0px 15px;
  }
  .fa-ellipsis-v {
    font-size: 30px;
    transform: rotate(90deg);
    float: right;
    margin-top: -7px;
  }
  .heading {
    //border-bottom: 1px solid $secondary-variant;
    font-size: 16px;
    padding: 2px 10px;
  }

  .col-md-4 {
    padding: 0;
  }

  span {
    color: white;
    display: inline-block;
    font-size: 1em;
    vertical-align: middle;
  }

  .result {
    @extend .vertically-aligned;
    font-size: 2.286em;
    padding: 5px 0;
  }

  .team-avatar {
    background: white;
    padding: 7px;
    margin-top: -1px;
    img {
      @include border-bottom-radius(18px);
      @include border-top-radius(18px);
    }

    .img-avatar-xs {
      width: 30px;
      height: 30px;
    }
  }
  .home-team{
    margin-right: 15px;
    margin-left: 5px;
  }
  .away-team{
    margin-left: 15px;
  }

  @include border-bottom-radius(0);
  @include border-top-radius(0);

  .panel-body {
    padding: 0;
  }

  .list-group-item {
    @include border-bottom-radius(0);
    @include border-top-radius(0);

    width: 100%;

    &:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }

    span {
      color: $secondary;
      display: inline-block;
      font-size: 1.6em;
      line-height: 1.6em;
      text-transform: capitalize;
      vertical-align: middle;
      &:last-of-type {
        float: right;
      }
    }
  }

  .panel-default {
    margin-bottom: 0px !important;
    border: none;
  }
  .panel-default:last-of-type {
    margin-top: -1%;
  }

  .goals {
    float: right;
    font-size: 24px;
  }
}
