<div class="row component-session-result">
  <div class="panel panel-body wrapper no-bottom-border">
    <div class="panel panel-body heading">
      <div class="col-md-4">
        <span>{{'premierLeagueMatch'}}</span>
      </div>
      <div class="col-md-6">
        <span class="details">13:43 - 15:21 | Sat. 21 Feb 2017 | Stanford Bridge, London</span>
      </div>
      <div class="col-lg-1 col-lg-offset-1">
        <i class="fa fa-ellipsis-v text-right" aria-hidden="true"></i>
      </div>
    </div>
    <div class="panel panel-body no-bottom-border info">
      <div class="col-md-4 align-left">
        <span class="team-avatar home-team">
            <img class="img-avatar-xs" src="{{vm.data.ownTeam.image}}"/>
        </span>
        <span>{{vm.data.ownTeam.name}}</span>
      </div>
      <div class="col-md-4 align-center result">
        <span>{{vm.data.ownTeam.goals}}</span>
        <span>-</span>
        <span>{{vm.data.opponentTeam.goals}}</span></span>
      </div>
      <div class="col-md-4 align-right">
        <span>{{vm.data.opponentTeam.name}}</span>
        <span class="team-avatar away-team">
            <img class="img-avatar-xs" src="{{vm.data.opponentTeam.image}}"/>
        </span>
      </div>
    </div>
  </div>
</div>
</div>

