.pitch-zone{
  display: inline-block;
  height: 177px;
  position: relative;
  width: 112px;

  .nixPitch {
    background: url("/assets/images/area-pitch.png") no-repeat;
    background-size: contain;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 2;
  }

  .nixPitchZone {
    background-color: #0B61A4;
    position: absolute;
    z-index: 0;

    &.top, &.center, &.bottom{
      height: 33%;
      width: 100%;
    }

    &.left, &.middle, &.right{
      height: 100%;
      width: 33%;
    }

    &.top{
      top: 0;
    }

    &.center{
      top: 33%;
    }

    &.bottom{
      top: 66%;
    }

    &.left{
      left: 0;
    }

    &.middle{
      left: 33%;
    }

    &.right{
      left: 66%;
    }
  }
}

