.component-shape-single {
  border: none;
  background-color: $secondary;
  margin: 0;
  padding: 12px;
  width: 100%;

  .highlights-title {
    padding: 2px 5px;
  }

  .icons {
    padding: 10px 0;
  }

  .panel-heading {
    border-color: $secondary-variant;
    color: $tertiary;
    padding-bottom: 2px;
    width: 100%;
  }

  .panel-body {
    @extend .vertically-aligned;
    color: white;
    display: block;
    position: relative;
    margin: 0;
  }

  .subtitle {
    font-size: 90%;
    display: inline-block;
    height: 100%;
    margin-left: 5px;
    vertical-align: middle;
    padding-top: 0px;
    margin-top: -10px;
  }

  .arrow {
    background-size: cover;
    display: inline-block;
    height: 28px;
    vertical-align: middle;
    width: 25px;
    margin-top: 5px;

    &.down {
      background: url('/assets/images/arrow-down.png') no-repeat;
    }

    &.up {
      background: url('/assets/images/arrow-up.png') no-repeat;
    }
  }

}
