<div class="component-shape-single">
    <div class="panel panel-body highlights-title">{{vm.data.title}}</div>
    <div class="panel panel-body no-bottom-border">
        <span class="arrow {{vm.data.class}}"></span>
        <span class="subtitle">{{vm.data.subtitle}}</span>
    </div>
</div>
