.button-icon{
  display: inline-block;
  cursor: pointer;

  span{
    display: block;
  }

  .icon{
    text-align: center;
    margin-bottom: 31px;
  }

  .text{
    margin: 0px 30px;
    color: $tertiary-variant;
    text-transform: uppercase;
  }

  &.selected{

  }
}
