<div class="button-group-selector">
  <h3 style="color:white;">{{vm.data.title}}</h3>
  <div>
    <a class="btn btn-secondary btn-group-tight"
      ng-repeat="button in vm.data.buttons track by $index"
      ng-class="{'btn-info': button.selected}"
      ng-click="vm.setActiveButton(button)"
    >{{button.title}}</a>
  </div>
</div>
