$icon-font-path: '/assets/fonts/bootstrap/';
@import '/styles/tracktics-scss/assets/stylesheets/tracktics';
$fa-font-path: '/assets/fonts/font-awesome/';
@import '~font-awesome/scss/font-awesome';
@import '~animatewithsass/animate';
@import 'styles/variables';
@import 'styles/mixins';
@import 'styles/forms';
@import 'styles/button-groups';


@import "../components/common/common";

// @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,900|Roboto:300,500,700,900);

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/*!
 * Start Bootstrap - Simple Sidebar (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

body {
  overflow-x: hidden;
}

/* Toggle Styles */
/*

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}
*/

.sidebar-nav .navbar .navbar-collapse {
  padding: 0;
  max-height: none;
}

.sidebar-nav .navbar ul {
  float: none;
  display: block;
}

.sidebar-nav .navbar li {
  float: none;
  display: block;
}

.sidebar-nav .navbar li a {
  padding-top: 12px;
  padding-bottom: 12px;
}

/* Sidebar Styles */

/*.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media(min-width: 768px) {
  #wrapper {
    padding-left: 0;
  }

  #wrapper.toggled {
    padding-left: 250px;
  }

  #sidebar-wrapper {
    width: 0;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }

  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}*/

.navbar-segments {
  border-radius: 0px;
  left: 0;
  z-index: 3;
  margin-bottom: 0;
}

.sidebar-segments {
  height: 100%;
  border-radius: 0px;
  padding-left: 0px;
}

.tracktics-menu-left {
  padding-left: 0px;
  .navbar-segments {
    position: fixed;
    margin-bottom: 10px;
    top: 0;
    left: 0;
    height: 100%;
    float: left;
  }
  .nav-tracktics {
    width: 300px;
    height: 950px;
    overflow-y: scroll;
  }
}

.layoutBG {
  margin: 15px 0px;
  background: $secondary;
}

.arrow-up::before, .arrow-down-warning::before, .arrow-down-gray::before {
  content: "\27A4";
}

.arrow-up {
  color: $button-active;
  display: inline-block;
  transform: rotate(270deg);
}

.arrow-down-warning {
  color: $warning;
  display: inline-block;
  transform: rotate(90deg);
}

.arrow-down-gray {
  color: $tertiary;
  display: inline-block;
  transform: rotate(90deg);
}

.highlights {
  [class*="col-"] {
    height: 50px;
  }
  background: none;
  height: 200px;
  .panel-body {
    border-bottom: none;
    margin: 0px;
    padding: 0px 15px;
  }
  .tactical {
    margin-left: -5px;
    margin-right: 5px;
  }
  .mental {
    width: 104%;
    margin-left: -5px;
  }
  .header {
    .fa, .glyphicon {
      font-size: 30px;
      transform: rotate(90deg);
      float: right;
      margin-top: -7px;
      margin-right: 10px;
    }

    padding-bottom: 3px;
    border-bottom: 1px solid white;
  }
  .text-uppercase {
    color: $tertiary;
  }
  .highlights-info {
    font-size: 12px;
    color: white;
    padding: 0px 10px 0px 15px;
  }
  .arrow-style {
    font-size: 32px;
    margin-left: 0px;
    margin-top: -5px;
    float: left;
  }
  .highlights-info-text {
    display: inline-block;
    padding-left: 10px;
  }
  .bg-transparent {
    background: white;
  }
  //.panel-body {
  //  padding: 10px 0px;
  //}
  [class*="col-"]:nth-child(1) .panel-body {
    margin-right: -1px;
  }
  [class*="col-"]:nth-child(2) .panel-body {
    margin-left: -5px;
  }
  [class*="col-"]:nth-child(3) .panel-body {
    margin-right: -5px;
  }
  .panel-body p {
    padding-top: 8px;
  }
}


.border-right-white {
  border-right: 1px solid white;
}


/*.single-percentage {
  margin-top: 20px;
  background-color: $secondary;
  padding: 0px;

  .panel-body {
    padding: 5px 10px;
  }
  .stats-num {
    color: white;
    font-size: 70px;
  }
  .metrics {
    font-size: 28px;
    color: $tertiary;
  }
  .title {
    font-size: 16px;
  }
  .green-percentage {
    position: absolute;
    color: #3fd18a;
    right: -6%;
    font-size: 25px;
    margin-top: 7%;
  }
  .arrow-up {
    font-size: 20px;
  }
  .data {
    position: relative;
    margin-left: -2%;
    margin-top: -5%;
  }
}*/


/*

.shape-single {
  .panel-body {
    border-bottom: 1px solid $tertiary;
  }
  .glyphicon-star {
    margin: 0% 10% 0% 1.5%;
    color: white;
  }
  p {
    padding: 10px;
  }
  !* .container .row:last-child div p{
      border: none;
    }*!
  shape-single-stat:last-of-type p {
    border: none;
  }
  .panel-body {
    position: relative;
  }
  .title {
    margin-left: -1.5%;
    display: inline-block;
    padding-bottom: 10px;
  }
  .title:after {
    position: absolute;
    top: 40px;
    left: 16%;
    content: " ";
    border-bottom: 1px solid gray;
    width: 30%;
  }
  .subtitle {
    color: white;
    display: inline-block;
    margin: 0% 5% 0% 15%;
  }
  .shape-stat-arrow {
    position: absolute;
    font-size: 30px;
    left: 5px;
    top: 45%;
  }

}
*/

.no-bottom-border {
  border-bottom: none !important;
  padding: 2.5px;
}

.bottom-border {
  border-bottom: 1px solid $tertiary !important;
}






