.double-data-comparison{
  color: white;
  /*.panel-heading{
    color: white;
    font-size: 0.625em;
    padding-bottom: 1px;
  }
*/
  .title{
    padding: 2px !important;
  }
  .primary{
    margin-top: -5px;
    display: inline-block;
    color: white;
    .data{
      font-size: 2.5em;
    }

    .metric{
      font-size: 0.75em;
    }

  }

  .secondary{
    margin-top: -9px;
    margin-right: 0px;
    display: inline-block;
    float: right;
    vertical-align: top;

    .subtitle{
      margin-left: 2px;
      display: block;
      font-size: 0.625em;
      margin-top: 12px;
    }

    .data,
    .metric{
      color: $tertiary;
    }

    .data{
      font-size: 1.2em;
    }
    .metric{
      font-size: 0.75em;
    }
  }
  .data-panel{
    padding: 0px !important;
  }
}
