<div class="col-lg-2 double-data-comparison">
  <div class="panel panel-body no-bottom-border">
    <div class="panel panel-body title">{{vm.title}}</div>
    <div class="panel panel-body no-bottom-border data-panel">
        <span class="primary">
            <span class="data">{{vm.primary}}</span> <span class="metric">{{vm.metric}}</span>
        </span>
      <span class="secondary">
            <span class="subtitle">{{vm.subtitle}}</span>
            <span class="data">{{vm.secondary}}</span> <span class="metric">{{vm.metric}}</span>
        <!-- | fixedLength: 0-->
        </span>
    </div>
  </div>
</div>
