<!--<div class="row" style="font-size:24px !important; padding:10px;">-->
  <div class="col-lg-4 col-md-3 col-sm-2 col-xs-6">
    <div class="panel panel-body">
      <p><span class="arrow-up"></span>arrow-up </p>
    </div>
  </div>
  <div class="col-lg-4 col-md-3 col-sm-2 col-xs-6">
    <div class="panel panel-body">
      <p><span class="arrow-down-warning"></span>arrow-down-warning </p>
    </div>
  </div>
  <div class="col-lg-4 col-md-3 col-sm-2 col-xs-6">
    <div class="panel panel-body">
      <p><span class="arrow-down-gray"></span>arrow-down-gray </p>
    </div>
  </div>
<!--</div>-->

