<h3>Buttons theme</h3>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default layoutBG">
      <div class="panel-heading"><h1>Buttons</h1>
      </div>
      <div class="panel-body">
        <p>
          <button type="button" class="btn btn-lg btn-default">Default</button>
          <button type="button" class="btn btn-lg btn-primary">Primary</button>
          <button type="button" class="btn btn-lg btn-secondary">Secondary</button>
          <button type="button" class="btn btn-lg btn-success">Success</button>
          <button type="button" class="btn btn-lg btn-info">Info</button>
          <button type="button" class="btn btn-lg btn-warning">Warning</button>
          <button type="button" class="btn btn-lg btn-danger">Danger</button>
          <button type="button" class="btn btn-lg btn-link">Link</button>
        </p>
        <br>
        <p>
          <button type="button" class="btn btn-default">Default</button>
          <button type="button" class="btn btn-primary">Primary</button>
          <button type="button" class="btn btn-secondary">Secondary</button>
          <button type="button" class="btn btn-success">Success</button>
          <button type="button" class="btn btn-info">Info</button>
          <button type="button" class="btn btn-warning">Warning</button>
          <button type="button" class="btn btn-danger">Danger</button>
          <button type="button" class="btn btn-link">Link</button>
        </p>
        <br>
        <p>
          <button type="button" class="btn btn-sm btn-default">Default</button>
          <button type="button" class="btn btn-sm btn-primary">Primary</button>
          <button type="button" class="btn btn-sm btn-secondary">Secondary</button>
          <button type="button" class="btn btn-sm btn-success">Success</button>
          <button type="button" class="btn btn-sm btn-info">Info</button>
          <button type="button" class="btn btn-sm btn-warning">Warning</button>
          <button type="button" class="btn btn-sm btn-danger">Danger</button>
          <button type="button" class="btn btn-sm btn-link">Link</button>
        </p>
        <br>
        <p>
          <button type="button" class="btn btn-xs btn-default">Default</button>
          <button type="button" class="btn btn-xs btn-primary">Primary</button>
          <button type="button" class="btn btn-xs btn-secondary">Secondary</button>
          <button type="button" class="btn btn-xs btn-success">Success</button>
          <button type="button" class="btn btn-xs btn-info">Info</button>
          <button type="button" class="btn btn-xs btn-warning">Warning</button>
          <button type="button" class="btn btn-xs btn-danger">Danger</button>
          <button type="button" class="btn btn-xs btn-link">Link</button>
        </p>
        <br>
        <p>
          <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-star"></span> Glyphicons!
          </button>
          <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span></button>
          <button type="button" class="btn btn-secondary"><span class="glyphicon glyphicon-edit"></span></button>
          <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></button>
          <button type="button" class="btn btn-info"><span class="glyphicon glyphicon-info-sign"></span></button>
          <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-flash"></span></button>
          <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-ban-circle"></span></button>
          <button type="button" class="btn btn-link"><span class="glyphicon glyphicon-arrow-right"></span></button>
        </p>
        <br>
        <div>
          <button class="btn btn-secondary btn-lg btn-group">btn-group</button>
          <button class="btn btn-secondary btn-lg btn-group">Button 2</button>
          <button class="btn btn-secondary btn-lg btn-group">Button 3</button>
        </div>
        <br>
        <div>
          <button class="btn btn-secondary btn-sm btn-group-tight">btn-group-tight</button>
          <button class="btn btn-secondary btn-sm btn-group-tight">Button 2</button>
          <button class="btn btn-secondary btn-sm btn-group-tight">Button 3</button>
        </div>
        <br>
        <div>
          <button type="button" class="btn btn-sm btn-rounded">btn-rounded</button>
          <button type="button" class="btn btn-sm btn-rounded">click me</button>
        </div>
      </div>
    </div>
  </div>
</div>
