<div class="row layoutBG" style="margin: 15px 5%;padding:10px;">
  <h1 class="text-white">Background Colors</h1><br><br>
  <button class="btn btn-default btn-lg bg-black text-white">bg-black</button>
  <button class="btn btn-default btn-lg bg-white ">bg-white</button>
  <button class="btn btn-default btn-lg bg-warning">bg-warning</button>
  <button class="btn btn-default btn-lg bg-grey">bg-grey</button>
  <button class="btn btn-default btn-lg bg-danger">bg-danger</button>
  <button class="btn btn-default btn-lg bg-success">bg-success</button>
  <button class="btn btn-default btn-lg bg-info">bg-info</button>
</div>

<div class="row layoutBG" style="margin: 15px 5%;padding:10px;">
  <h1 class="text-white">Text Colors</h1><br><br>
  <button class="btn btn-primary btn-lg text-black">text-black</button>
  <button class="btn btn-primary btn-lg text-white">text-white</button>
  <button class="btn btn-primary btn-lg text-warning">text-warning</button>
  <button class="btn btn-primary btn-lg text-grey">text-grey</button>
  <button class="btn btn-primary btn-lg text-danger">text-danger</button>
  <button class="btn btn-primary btn-lg text-success">text-success</button>
  <button class="btn btn-primary btn-lg text-info">text-info</button>
</div>

<div class="row layoutBG" style="margin: 15px 5%;padding:10px;">
  <h1 class="text-white">Border Colors</h1><br><br>
  <button class="btn btn-primary btn-lg border-black">border-black</button>
  <button class="btn btn-primary btn-lg border-white">border-white</button>
  <button class="btn btn-primary btn-lg border-warning">border-warning</button>
  <button class="btn btn-primary btn-lg border-grey">border-grey</button>
  <button class="btn btn-primary btn-lg border-danger">border-danger</button>
  <button class="btn btn-primary btn-lg border-success">border-success</button>
  <button class="btn btn-primary btn-lg border-info">border-info</button>
</div>

