<div class="row double-stat-info" style="margin-top:70px;">
  <div class="col-lg-3">
    <div class="panel panel-body">Total Distance Covered</div>
    <div class="panel panel-body no-bottom-border">
      <!--<span>{{vm.data.info1.subtitle}}</span>-->
      <p class="data-num">10.4<span class="metrics"> km</span><span class="arrow-data"><span class="arrow-up"></span> 13%</span>
      </p>
      <!--<span ng-class="vm.data.info1.class"></span>-->
      <!--<arrow data="vm.data.info1.arrowData"></arrow>-->
    </div>
    <div class="panel panel-body zones">Total Distance in Highspeed Zones</div>
    <div class="panel panel-body">
      <span>{{vm.data.info2.subtitle}}</span>
      <p class="data-big-num">1.7<span class="metrics"> km</span><span class="arrow-data data-big-arrow"><span
        class="arrow-up"></span> +6%</span></p>
      <!--<arrow data="vm.data.info2.arrowData"></arrow>-->
    </div>
  </div>
  <div class="col-lg-3">
    <div class="panel panel-body">Total Time on Pitch</div>
    <div class="panel panel-body no-bottom-border">
      <span>{{vm.data.info1.subtitle}}</span>
      <p class="data-num">92<span class="metrics"> min</span><span class="arrow-data"><span class="arrow-up"></span> 9%</span>
      </p>
      <!--<span ng-class="vm.data.info1.class"></span>-->
      <!--<arrow data="vm.data.info1.arrowData"></arrow>-->
    </div>
    <div class="panel panel-body zones">Total Time in Highspeed Zones</div>
    <div class="panel panel-body">
      <!--<span>{{vm.data.info2.subtitle}}</span>-->
      <p class="data-big-num">6.2<span class="metrics"> min</span><span class="arrow-data data-big-arrow"><span
        class="arrow-up"></span> +8%</span></p>
      <!--<arrow data="vm.data.info2.arrowData"></arrow>-->
    </div>
  </div>

  <div class="col-lg-6 donuts">

    <div class="row">
      <div class="col-lg-4 text-center">
        <h3 style="color:white;">Donut</h3>
        <!--<highchart id="chart1" config="vm.chartConfig" class="span10"></highchart>-->
      </div>

      <div class="col-lg-4 text-center  ">
        <h3 style="color:white;">Donut</h3>
        <!--<highchart id="chart2" config="vm.chartConfig" class="span10"></highchart>-->
        <br>
      </div>

      <div class="col-lg-4 text-center">
        <div class="row">
          <div class="col-lg-6">
            <p><span>Running</span><br><span>21%</span><br><span>2.2km</span></p>
          </div>
          <div class="col-lg-6">
            <h3>Small Donut</h3>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <p><span>Walking</span><br><span>63%</span><br><span>6.5km</span></p>
          </div>
          <div class="col-lg-6">
            <h3>Small Donut</h3>
          </div>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-lg-4">
        <p class="data-big-num text-center"><span class="arrow-data data-big-arrow"><span
          class="arrow-up"></span> +3%</span></p>
      </div>

      <div class="col-lg-4">
        <p class="data-big-num text-center"><span class="arrow-data data-big-arrow"><span
          class="arrow-up"></span> +7%</span></p>
      </div>

      <div class="col-lg-4">
        <p class="data-big-num text-center"><span class="arrow-data data-big-arrow"><span
          class="arrow-down-gray"></span> -10%</span></p>
      </div>
    </div>
  </div>
</div>



