<div class="row text-white">
  <div class="col-lg-6 text-center">
    <div><img src="../assets/images/conte1.png" alt="Chelsea FC Coach" class="img-avatar"></div>
    img-avatar
  </div>
  <div class="col-lg-6 text-center" style="padding-top:20px;">
    <div><img src="../assets/images/conte1.png" alt="Chelsea FC Coach" class="img-box-small"></div>
    img-box-small
  </div>
  <br><br>
</div>
<div class="row text-white">
  <div class="col-lg-6 text-center">
    <div><img src="../assets/images/conte1.png" alt="Chelsea FC Coach" class="img-box img-semiTransparent"></div>
    img-box img-semiTransparent
  </div>
  <div class="col-lg-6 text-center">
    <div><img src="../assets/images/conte1.png" alt="Chelsea FC Coach" class="img-box"></div>
    img-box
  </div>

</div>

