<div class="row text-white" style="margin-top:20px;">
  col-lg-1
  <div class="col-lg-1 col-md-1" style="background: #211b27;padding:0px;">
    <div class="panel panel-heading">panel panel-heading</div>
    <div class="panel panel-body">panel panel-body</div>
    <div class="panel panel-body no-bottom-border">panel panel-body</div>
  </div>
</div>
<br>
<div class="row text-white" style="margin-top:20px;">
  col-lg-2
  <div class="col-lg-2 col-md-2" style="background: #211b27;padding:0px;">
    <div class="panel panel-heading">panel panel-heading</div>
    <div class="panel panel-body">panel panel-body</div>
    <div class="panel panel-body no-bottom-border">panel panel-body</div>
  </div>
</div>
<br>
<div class="row text-white" style="margin-top:20px;">
  col-lg-3
  <div class="col-lg-3 col-md-3" style="background: #211b27;padding:0px;">
    <div class="panel panel-heading">panel panel-heading</div>
    <div class="panel panel-body">panel panel-body</div>
    <div class="panel panel-body no-bottom-border">panel panel-body</div>
  </div>
</div>
<br>
<div class="row text-black">
  col-lg-4
  <div class="col-lg-4 col-md-4" style="background: #211b27;padding:0px;">
    <div class="panel panel-heading">panel panel-heading</div>
    <div class="panel panel-body">panel panel-body</div>
    <div class="panel panel-body no-bottom-border">panel panel-body</div>
  </div>
</div>
<br>
<div class="row text-white">
  col-lg-5
  <div class="col-lg-5 col-md-5" style="background: #211b27;padding:0px;">
    <div class="panel panel-heading">panel panel-heading</div>
    <div class="panel panel-body">panel panel-body</div>
    <div class="panel panel-body no-bottom-border">panel panel-body</div>
  </div>
</div>
<br>
<div class="row text-white">
  col-lg-6
  <div class="col-lg-6 col-md-6" style="background: #211b27;padding:0px;">
    <div class="panel panel-heading">panel panel-heading</div>
    <div class="panel panel-body">panel panel-body</div>
    <div class="panel panel-body no-bottom-border">panel panel-body</div>
  </div>
</div>
<br>
<div class="row text-white" style="margin-top:20px;">
  col-lg-7
  <div class="col-lg-7 col-md-7" style="background: #211b27;padding:0px;">
    <div class="panel panel-heading">panel panel-heading</div>
    <div class="panel panel-body">panel panel-body</div>
    <div class="panel panel-body no-bottom-border">panel panel-body</div>
  </div>
</div>
<br>
<div class="row text-white" style="margin-top:20px;">
  col-lg-8
  <div class="col-lg-8 col-md-8" style="background: #211b27;padding:0px;">
    <div class="panel panel-heading">panel panel-heading</div>
    <div class="panel panel-body">panel panel-body</div>
    <div class="panel panel-body no-bottom-border">panel panel-body</div>
  </div>
</div>
<br>
<div class="row text-white" style="margin-top:20px;">
  col-lg-9
  <div class="col-lg-9 col-md-9" style="background: #211b27;padding:0px;">
    <div class="panel panel-heading">panel panel-heading</div>
    <div class="panel panel-body">panel panel-body</div>
    <div class="panel panel-body no-bottom-border">panel panel-body</div>
  </div>
</div>
<br>
<div class="row text-white" style="margin-top:20px;">
  col-lg-10
  <div class="col-lg-10 col-md-10" style="background: #211b27;padding:0px;">
    <div class="panel panel-heading">panel panel-heading</div>
    <div class="panel panel-body">panel panel-body</div>
    <div class="panel panel-body no-bottom-border">panel panel-body</div>
  </div>
</div>
<br>
<div class="row text-white" style="margin-top:20px;">
  col-lg-11
  <div class="col-lg-11 col-md-11" style="background: #211b27;padding:0px;">
    <div class="panel panel-heading">panel panel-heading</div>
    <div class="panel panel-body">panel panel-body</div>
    <div class="panel panel-body no-bottom-border">panel panel-body</div>
  </div>
</div>
<br>
<div class="row text-white" style="margin-top:20px;">
  <p class="text-right">col-lg-12</p>
  <div class="col-lg-12 col-md-12" style="background: #211b27;padding:0px;">
    <div class="panel panel-heading">panel panel-heading</div>
    <div class="panel panel-body">panel panel-body</div>
    <div class="panel panel-body no-bottom-border">panel panel-body</div>
  </div>
</div>
<br>

