<div class="row player-development-top">
  <div class="col-lg-4 session-details-top">
    <div class="image">
      <img src="../resourses/player.jpg" alt="Football player" class="img-responsive">
    </div>
    <div class="panel panel-default">
      <div class="row">
        <div class="col-lg-6">
          <h6 class="headings text-uppercase">Avg. Distance Cov.:</h6>
          <p><span class="data-big-num">11.2</span><span class="metrics">km</span> <span
            class="arrow-up arrow-float-right"></span></p>
        </div>
        <div class="col-lg-6">
          <h6 class="headings text-uppercase">Avg. No. of Sprints:</h6>
          <p><span class="data-big-num">36</span> <span class="arrow-up arrow-float-right"></span></p>
        </div>
      </div>
      <div class="row" style="margin-bottom: -10px;">
        <div class="col-lg-6">
          <h6 class="headings text-uppercase">Avg. Top Speed:</h6>
          <p><span class="data-big-num">29.2</span><span class="metrics">km/h</span><span
            class="arrow-up arrow-float-right"></span></p>
        </div>
        <div class="col-lg-6">
          <h6 class="headings text-uppercase">Avg. Session Time:</h6>
          <p><span class="data-big-num">68</span><span class="metrics">min</span><span
            class="arrow-down-warning arrow-float-right"></span></p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4" style="margin-left: -10px;margin-right: 10px;">
    <h3 class="player-name">Cesar <br>Azpiliqueta</h3>
    <h4 class="player-position">Defender</h4>

    <div class="panel panel-body no-bottom-border content-info">
      <div class="panel panel-body general-info"><h3 class="title text-uppercase">General info</h3><i
        class="fa fa-ellipsis-v"
        aria-hidden="true"></i></div>
      <!--<div ng-repeat="data in vm.data.data" class="panel panel-body">-->
      <!--<span>{{data.name}}</span><span class="additional-metadata">{{data.additionalData}}</span>-->
      <!--</div>-->
      <div class="panel panel-body no-bottom-border">
        <div class="col-lg-6 session-metadata">
          <div class="panel panel-body">
            <p class="player-info"><small class="text-smaller">Availability</small><span class="additional-metadata">Ready</span></p>
          </div>
          <div class="panel panel-body">
            <p class="player-info">
              <small class="text-smaller">Birthdate</small>
              <span class="additional-metadata">22.03.1998</span></p>
          </div>
          <div class="panel panel-body">
            <p class="player-info">
              <small class="text-smaller">Total No. of Sprints</small>
              <span class="additional-metadata">8741</span></p>
          </div>
          <div class="panel panel-body">
            <p class="player-info">
              <small class="text-smaller">Total Distance</small>
              <span class="additional-metadata">2304 km</span></p>
          </div>
          <div class="panel panel-body bottom-border">
            <p class="player-info">
              <small class="text-smaller">Training Attendace</small>
              <span class="additional-metadata">84 %</span></p>
          </div>
        </div>

        <div class="col-lg-6 session-metadata">
          <div class="panel panel-body">
            <p class="player-info">
              <small class="text-smaller">Foot</small>
              <span class="additional-metadata">Left</span></p>
          </div>
          <div class="panel panel-body">
            <p class="player-info">
              <small class="text-smaller">Birthdate</small>
              <span class="additional-metadata">22.03.1998</span></p>
          </div>
          <div class="panel panel-body">
            <p class="player-info">
              <small class="text-smaller">Total No. of Sprints</small>
              <span class="additional-metadata">8741</span></p>
          </div>
          <div class="panel panel-body">
            <p class="player-info">
              <small class="text-smaller">Total Time Played</small>
              <span class="additional-metadata">15012 min</span></p>
          </div>
          <div class="panel panel-body bottom-border">
            <p class="player-info">
              <small class="text-smaller">Game Attendance</small>
              <span class="additional-metadata">92 %</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-lg-4 session-details-top">
    <div class="row">
      <div class="col-lg-6">
        <p class="navigation"><i class="fa fa-history sessions-icon" aria-hidden="true"></i><br><span>Select Sessions</span></p>
      </div>
      <div class="col-lg-6">
        <p class="navigation"><i class="glyphicon glyphicon-transfer compare-icon" aria-hidden="true"></i><br><span>Compare Players</span></p>
      </div>
    </div>

    <div class="row">
      <div class="panel panel-body no-bottom-border content-period">
        <div class="panel panel-body general-info"><h3 class="title text-uppercase">Selected Period</h3><i class="fa fa-ellipsis-v three-dots" aria-hidden="true"></i></div>
        <!--<div ng-repeat="data in vm.data.data" class="panel panel-body">-->
        <!--<span>{{data.name}}</span><span class="additional-metadata">{{data.additionalData}}</span>-->
        <!--</div>-->
        <div class="panel panel-body no-bottom-border">
          <div class="col-lg-6 session-metadata">
            <div class="panel panel-body">
              <p class="player-info">
                <small class="text-smaller">Games</small>
                <span class="additional-metadata text-big">03</span></p>
            </div>
            <div class="panel panel-body">
              <p class="player-info">
                <small class="text-smaller">No. of Sessions</small>
                <span class="additional-metadata text-big"></span></p>
            </div>
            <div class="panel panel-body no-bottom-border">
              <p class="player-info">
                <small class="text-smaller">Total</small>
                <span class="additional-metadata">257</span></p>
            </div>
            <div class="panel panel-body no-bottom-border">
              <p class="player-info">
                <small class="text-smaller">Games</small>
                <span class="additional-metadata">196</span></p>
            </div>
            <div class="panel panel-body no-bottom-border">
              <p class="player-info">
                <small class="text-smaller">Trainings</small>
                <span class="additional-metadata">61</span></p>
            </div>
          </div>

          <div class="col-lg-6 session-metadata">
            <div class="panel panel-body">
              <p class="player-info">
                <small class="text-smaller">Trainings</small>
                <span class="additional-metadata text-big">10</span></p>
            </div>
            <div class="panel panel-body">
              <p class="player-info">
                <small class="text-smaller">Game form</small>
                <span class="additional-metadata text-big"></span></p>
            </div>
            <div class="panel panel-body no-bottom-border">
              <p class="player-info">
                <small class="text-smaller">Wins</small>
                <span class="additional-metadata">29</span></p>
            </div>
            <div class="panel panel-body no-bottom-border">
              <p class="player-info">
                <small class="text-smaller">Draws</small>
                <span class="additional-metadata">19</span></p>
            </div>
            <div class="panel panel-body no-bottom-border">
              <p class="player-info">
                <small class="text-smaller">Losses</small>
                <span class="additional-metadata">13</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row session-details-top highlights">
  <div class="col-lg-4">
    <div class="panel panel-body">
      <h1 class=" header text-uppercase">Physical Highlights<i class="fa fa-ellipsis-v" aria-hidden="true"></i></h1>
    </div>
    <div class="panel panel-body">
      <p class="highlights-info"><span class="arrow-up arrow-style"> </span><span class="highlights-info-text">20% more progressive sprints than team <br>average in Second Half.</span></p>
    </div>
  </div>

  <div class="col-lg-4" style="margin-left:-5px;">
    <div class="panel panel-body tactical">
      <h1 class="header text-uppercase">Tactical Highlights<i class="fa fa-ellipsis-v" aria-hidden="true"></i></h1>
    </div>
    <div class="panel panel-body tactical">
      <p class="highlights-info"><span class="arrow-down-warning arrow-style"> </span><span class="highlights-info-text">More than 10 km Distance covered in the last 4<br>matches.</span></p>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="panel panel-body mental">
      <h1 class=" header text-uppercase">Mental Highlights<i class="fa fa-ellipsis-v" aria-hidden="true"></i></h1>
    </div>
    <div class="panel panel-body mental">
      <p class="highlights-info"><span class="arrow-down-warning arrow-style"> </span><span class="highlights-info-text">Player with best overall performances<br>this week</span></p>
    </div>
  </div>
</div>

