<div class="row player-development-top-new">
  <div class="col-lg-4 session-details-top">
    <div class="image">
      <img src="../resourses/player.jpg" alt="Football player" class="img-responsive">
    </div>
    <div class="panel panel-default">
      <div class="row">
        <div class="col-lg-6">
          <h6 class="headings text-uppercase">Avg. Distance Cov.:</h6>
          <p><span class="data-big-num">11.2</span><span class="metrics">km</span> <span
            class="arrow-up arrow-float-right"></span></p>
        </div>
        <div class="col-lg-6">
          <h6 class="headings text-uppercase">Avg. No. of Sprints:</h6>
          <p><span class="data-big-num">36</span> <span class="arrow-up arrow-float-right"></span></p>
        </div>
      </div>
      <div class="row" style="margin-bottom: -10px;">
        <div class="col-lg-6">
          <h6 class="headings text-uppercase">Avg. Top Speed:</h6>
          <p><span class="data-big-num">29.2</span><span class="metrics">km/h</span><span
            class="arrow-up arrow-float-right"></span></p>
        </div>
        <div class="col-lg-6">
          <h6 class="headings text-uppercase">Avg. Session Time:</h6>
          <p><span class="data-big-num">68</span><span class="metrics">min</span><span
            class="arrow-down-warning arrow-float-right"></span></p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4" style="margin-left: -10px;margin-right: 10px;">
    <h3 class="player-name">Cesar <br>Azpiliqueta</h3>
    <h4 class="player-position">Defender</h4>

    <div class="panel panel-body no-bottom-border content-info">
      <div class="panel panel-body general-info"><h3 class="title text-uppercase">Player info</h3>
      </div>
      <!--<div ng-repeat="data in vm.data.data" class="panel panel-body">-->
      <!--<span>{{data.name}}</span><span class="additional-metadata">{{data.additionalData}}</span>-->
      <!--</div>-->
      <div class="panel panel-body no-bottom-border">
        <div class="col-lg-6 session-metadata">
          <div class="panel panel-body">
            <p class="player-info">
              <small class="text-smaller">Availability</small>
              <span class="additional-metadata">Ready</span></p>
          </div>
          <div class="panel panel-body">
            <p class="player-info">
              <small class="text-smaller">Birthdate</small>
              <span class="additional-metadata">22.03.1998</span></p>
          </div>
          <div class="panel panel-body">
            <p class="player-info">
              <small class="text-smaller">Attendance | overall</small>
              <span class="additional-metadata">84 %</span></p>
          </div>
          <div class="panel panel-body">
            <p class="player-info">
              <small class="text-smaller">Attendance | selected period</small>
          </div>
          <div class="panel panel-body ">
            <p class="player-info">
              <span class="text-big">87</span><span class="units">%</span></p>
          </div>
        </div>

        <div class="col-lg-6 session-metadata">
          <div class="panel panel-body">
            <p class="player-info">
              <small class="text-smaller">Foot</small>
              <span class="additional-metadata">Left</span></p>
          </div>
          <div class="panel panel-body" style="visibility: hidden !important;">
            <!--Ignore this div, it only takes the space needed for proper padding-->
            <p class="player-info">
              <small class="text-smaller">Birthdate</small>
              <span class="additional-metadata">22.03.1998</span></p>
          </div>
          <div class="panel panel-body">
            <p class="player-info">
              <small class="text-smaller">Time | overall</small>
              <span class="additional-metadata">2434min</span></p>
          </div>
          <div class="panel panel-body">
            <p class="player-info">
              <small class="text-smaller">Time | selected period</small>
          </div>
          <div class="panel panel-body">
            <p class="player-info">
              <span class="text-big">246</span><span class="units">min</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-lg-4 session-details-top">
    <div class="row">
      <div class="col-lg-6">
        <p class="navigation text-center"><img ng-src="/assets/icons/backToTeam.svg" src="/assets/icons/backToTeam.svg"><br><span>Select Sessions</span>
        </p>
      </div>
      <div class="col-lg-6">
        <p class="navigation text-center"><img ng-src="/assets/icons/activity.svg" src="/assets/icons/activity.svg"><br><span>Compare Players</span>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="panel panel-body no-bottom-border content-period">
        <div class="panel panel-body general-info"><h3 class="title text-uppercase">Period Info</h3></div>

        <div class="panel panel-body no-bottom-border">
          <div class="col-lg-6 session-metadata">
            <div class="panel panel-body">
              <p class="player-info">
                <small class="text-smaller">Games | overall</small>
                <span class="additional-metadata">57</span></p>
            </div>
            <div class="panel panel-body">
              <p class="player-info">
                <small class="text-smaller">Games | selected period</small>
            </div>
            <div class="panel panel-body no-bottom-border">
              <span class="text-big">3</span></p>
            </div>
          </div>

          <div class="col-lg-6 session-metadata">
            <div class="panel panel-body">
              <p class="player-info">
                <small class="text-smaller">Trainings | overall</small>
                <span class="additional-metadata">364</span></p>
            </div>
            <div class="panel panel-body">
              <p class="player-info">
                <small class="text-smaller">Trainings | selected period</small>
            </div>
            <div class="panel panel-body no-bottom-border">
              <span class="text-big">0</span></p>
            </div>
          </div>

          <div class="col-lg-4 team-won">
            <div class="panel panel-body">
              <p class="player-info">
                <small class="text-smaller">Won</small>
                <span class="team-record">264</span></p>
            </div>

            <div class="panel panel-body">
              <span class="text-big">2</span></p>
            </div>
          </div>

          <div class="col-lg-4 team-draw">
            <div class="panel panel-body">
              <p class="player-info">
                <small class="text-smaller">Draw</small>
                <span class="team-record">16</span></p>
            </div>

            <div class="panel panel-body">
              <span class="text-big">0</span></p>
            </div>
          </div>

          <div class="col-lg-4 team-lost">
            <div class="panel panel-body">
              <p class="player-info">
                <small class="text-smaller">Lost</small>
                <span class="team-record">13</span></p>
            </div>

            <div class="panel panel-body">
              <span class="text-big">1</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row session-game-top-new highlights-new">
  <div class="col-lg-4">
    <div class="panel panel-body">
      <div class="col-lg-3 border-right-white">
        <img src="../resourses/sprint-red.JPG" alt="Physical Image" class="img-responsive">
      </div>

      <div class="col-lg-9">
        <p class="text-white">20% more progressive sprints than team average in Second Half.</p>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="panel panel-body">
      <div class="col-lg-3 border-right-white">
        <img src="../resourses/sprint-white.JPG" alt="Physical Image" class="img-responsive">
      </div>

      <div class="col-lg-9">
        <p class="text-white">20% more progressive sprints than team average in Second Half.</p>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="panel panel-body">
      <div class="col-lg-3 border-right-white">
        <img src="../resourses/sprint-green.JPG" alt="Physical Image" class="img-responsive">
      </div>

      <div class="col-lg-9">
        <p class="text-white">20% more progressive sprints than team average in Second Half.</p>
      </div>
    </div>
  </div>
</div>
