<div class="row session-details-top">
  <div class="col-lg-4">
    <div class="image">
      <img src="../resourses/player.jpg" alt="Football player" class="img-responsive">
    </div>
    <div class="panel panel-default">
      <div class="row">
        <div class="col-lg-6">
          <h5 class="headings">Distance Covered:</h5>
          <p><span class="data-big-num">11.2</span><span class="metrics">km</span> <span
            class="arrow-up arrow-float-right"></span></p>
        </div>
        <div class="col-lg-6">
          <h5 class="headings">Sprints:</h5>
          <p><span class="data-big-num">36</span> <span class="arrow-up arrow-float-right"></span></p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <h5 class="headings">Top Speed:</h5>
          <p><span class="data-big-num">29.2</span><span class="metrics">km/h</span><span
            class="arrow-up arrow-float-right"></span></p>
        </div>
        <div class="col-lg-6">
          <h5 class="headings">Time on pitch:</h5>
          <p><span class="data-big-num">68</span><span class="metrics">min</span><span
            class="arrow-down-warning arrow-float-right"></span></p>
        </div>
      </div>

    </div>
  </div>

  <div class="col-lg-8 player-info-field">
    <div class="row">
      <div class="col-lg-6">
        <h1 class="player-name">Cesar <br>Azpiliqueta</h1>
        <h4 class="player-position">Defender</h4>
      </div>
      <div class="col-lg-3">
        <p class="navigation"><i class="fa fa-history back-icon" aria-hidden="true"></i><br>Back to team</p><br>
      </div>
      <div class="col-lg-3">
        <p class="navigation"><span class="glyphicon glyphicon-transfer"></span><br>Compare Players</p><br>
      </div>
    </div>

    <div class="row">
      <div class="panel panel-body match-info no-bottom-border">
        <div class="col-lg-4">
          <p class="text-uppercase">Premier League match</p>
        </div>

        <div class="col-lg-6">
          <p>
            <small>13:14 - 15:21 | Sat. 21 Feb 2017 | Stamford Bridge, London</small>
          </p>
        </div>
        <div class="col-lg-1 col-lg-offset-1">
          <i class="fa fa-ellipsis-v text-right" aria-hidden="true"></i>
        </div>
        <p class="for-bottom-border"></p>
        <div class="col-lg-4 session-details-result">
          <img src="../resourses/chelsea.png" class="img-box-small bg-white " alt="Chelsea FC">&nbsp;&nbsp;Chelsea FC
        </div>
        <div class="col-lg-3 col-lg-offset-1 session-details-result">
          <h1 class="match-score">2&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;1</h1>
        </div>
        <div class="col-lg-4 session-details-result">
          <div style="float:right;">Manchester United&nbsp;&nbsp;<img src="../resourses/man-utd.jpg"
                                                                      class="img-box-small left"
                                                                      alt="Manchester United FC"></div>
        </div>

        <div class="col-lg-6 session-metadata">
          <div class="panel panel-body spacing-top">
            <p class="match-session">
              <small>Time & Date</small>
              <span class="additional-metadata">13:43 - 15:21 / Sat, 21 Feb 2017</span></p>
          </div>
          <div class="panel panel-body">
            <p class="match-session">
              <small>Playground</small>
              <span class="additional-metadata">Stamford Bridge</span></p>
          </div>
          <div class="panel panel-body bottom-border">
            <p class="match-session">
              <small>City</small>
              <span class="additional-metadata">London, United Kingdom</span></p>
          </div>
        </div>

        <div class="col-lg-6 session-metadata">
          <div class="panel panel-body spacing-top">
            <p class="match-session">
              <small>Players</small>
              <span class="additional-metadata">11 Players | 2 substitutions</span></p>
          </div>
          <div class="panel panel-body">
            <p class="match-session">
              <small>Weather</small>
              <span class="additional-metadata">8 &deg;C | No Wind</span></p>
          </div>
          <div class="panel panel-body bottom-border">
            <p class="match-session">
              <small>Pitch Condition</small>
              <span class="additional-metadata">Excellent</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row session-details-top highlights">
  <div class="col-lg-4">
    <div class="panel panel-body">
      <h1 class=" header text-uppercase">Physical Highlights<i class="fa fa-ellipsis-v" aria-hidden="true"></i></h1>
    </div>
    <div class="panel panel-body">
      <p class="highlights-info"><span class="arrow-up arrow-style"> </span><span class="highlights-info-text">20% more progressive sprints than team <br>average in Second Half.</span></p>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="panel panel-body tactical">
      <h1 class="header text-uppercase">Tactical Highlights<i class="fa fa-ellipsis-v" aria-hidden="true"></i></h1>
    </div>
    <div class="panel panel-body tactical">
      <p class="highlights-info"><span class="arrow-down-warning arrow-style"> </span><span class="highlights-info-text">More than 10 km Distance covered in the last 4<br>matches.</span></p>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="panel panel-body mental">
      <h1 class=" header text-uppercase">Mental Highlights<i class="fa fa-ellipsis-v" aria-hidden="true"></i></h1>
    </div>
    <div class="panel panel-body mental">
      <p class="highlights-info"><span class="arrow-down-warning arrow-style"> </span><span class="highlights-info-text">Player with best overall performances<br>this week</span></p>
    </div>
  </div>
</div>
