<div class="row session-game-top">
  <div class="col-lg-4">
    <div class="image">
      <img src="../resourses/player.jpg" alt="Football player" class="img-responsive">
    </div>
    <div class="panel panel-default">
      <div class="row">
        <div class="col-lg-6">
          <h5 class="headings">Distance Covered:</h5>
          <p><span class="data-big-num">11.2</span><span class="metrics">km</span> <span
            class="arrow-up arrow-float-right"></span></p>
        </div>
        <div class="col-lg-6">
          <h5 class="headings">Sprints:</h5>
          <p><span class="data-big-num">36</span> <span class="arrow-up arrow-float-right"></span></p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <h5 class="headings">Top Speed:</h5>
          <p><span class="data-big-num">29.2</span><span class="metrics">km/h</span><span
            class="arrow-up arrow-float-right"></span></p>
        </div>
        <div class="col-lg-6">
          <h5 class="headings">Time on pitch:</h5>
          <p><span class="data-big-num">68</span><span class="metrics">min</span><span
            class="arrow-down-warning arrow-float-right"></span></p>
        </div>
      </div>

    </div>
  </div>

  <div class="col-lg-8 player-info-field">
    <div class="row">
      <div class="col-lg-3">
        <h3 class="player-name">Cesar <br>Azpiliqueta</h3>
        <h4 class="player-position">Defender</h4>
      </div>
      <div class="col-lg-3">
        <p class="navigation text-uppercase text-center"><img ng-src="/assets/icons/backToTeam.svg" src="/assets/icons/backToTeam.svg"><br>Back to team</p><br>
      </div>
      <div class="col-lg-3">
        <p class="navigation text-uppercase text-center"><img ng-src="/assets/icons/activity.svg" src="/assets/icons/activity.svg"><br>Compare Players</p><br>
      </div>
      <div class="col-lg-3">
        <p class="navigation text-uppercase text-center"><img ng-src="/assets/icons/backToTeam.svg" src="/assets/icons/backToTeam.svg"><br>Edit Mode</p><br>
      </div>
    </div>

    <div class="row">
      <div class="panel panel-body match-info">
        <div class="col-lg-4 home-team">
          <div class="text-white"><img src="../resourses/chelsea.png" alt="Chelsea FC" class="img-box-small"
                                       style="background: white;">Chelsea
            FC
          </div>
        </div>
        <div class="col-lg-4 text-center">
          <h1 class="match-score">2&nbsp;&nbsp;-&nbsp;&nbsp;1</h1>
        </div>

        <div class="col-lg-4 away-team">
          <div class="away-team-img text-white">Manchester United <img src="../resourses/man-utd.jpg"
                                                                       alt="Manchester United FC"
                                                                       class="img-box-small">
          </div>
        </div>
      </div>
      <div class="panel panel-body no-bottom-border">
        <h5 class="text-center text-grey">13:43 - 15:21 - Sat, 21 Feb 2017</h5>
      </div>
      <div class="panel panel-body session-metadata-wrapper">
        <div class="col-lg-6 session-metadata">
          <div class="panel panel-body spacing-top">
            <p class="match-session">
              <small>Playground</small>
              <span class="additional-metadata">Stamford Bridge, London</span></p>
          </div>
          <div class="panel panel-body bottom-border">
            <p class="match-session">
              <small>Pitch & Condition</small>
              <span class="additional-metadata">Main Pitch, Excellent</span></p>
          </div>
        </div>

        <div class="col-lg-6 session-metadata">
          <div class="panel panel-body spacing-top">
            <p class="match-session">
              <small>Players assigned</small>
              <span class="additional-metadata">20 players</span></p>
          </div>
          <div class="panel panel-body bottom-border">
            <p class="match-session">
              <small>Weather</small>
              <span class="additional-metadata">8 &deg;C - No Wind</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row session-game-top highlights">
  <div class="col-lg-4">
    <div class="panel panel-body">
      <div class="col-lg-3 border-right-white">
        <img src="../resourses/sprint-red.JPG" alt="Physical Image" class="img-responsive">
      </div>

      <div class="col-lg-9">
        <p class="text-white">20% more progressive sprints than team average in Second Half.</p>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="panel panel-body">
      <div class="col-lg-3 border-right-white">
        <img src="../resourses/sprint-white.JPG" alt="Physical Image" class="img-responsive">
      </div>

      <div class="col-lg-9">
        <p class="text-white">20% more progressive sprints than team average in Second Half.</p>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="panel panel-body">
      <div class="col-lg-3 border-right-white">
        <img src="../resourses/sprint-green.JPG" alt="Physical Image" class="img-responsive">
      </div>

      <div class="col-lg-9">
        <p class="text-white">20% more progressive sprints than team average in Second Half.</p>
      </div>
    </div>
  </div>
</div>
