<div class="navbar navbar-fixed-left">

  <div class="tracktics-logo pusher-13"></div>

  <div class="avatar"></div>

  <ul class="nav nav-pills nav-stacked">
    <li class="items">
      <a><i class="glyphicon "></i>Item 1</a>
    </li>
    <li class="items">
      <a><i class="glyphicon "></i>Item 2</a>
    </li>
    <li class="items">
      <a><i class="glyphicon "></i>Item 3</a>
    </li>
    <li class="items">
      <a><i class="glyphicon "></i>Item 4</a>
    </li>
    <li class="items">
      <a><i class="glyphicon "></i>Settings </a>
    </li>
  </ul>
</div>
