<div class="team-session-overview">
  <div class="row team-info">
    <div class="col-lg-2">
      <img src="../resourses/chelsea.png" class="img-responsive" alt="Chelsea FC">
    </div>

    <div class="col-lg-8 border-right-white" style="margin-left:-10px;">
      <h1 class="team-name">Chelsea FC</h1><br>
      <h3 class="active-players" style="color:lightgray;">26 active players</h3>
    </div>

    <div class="col-lg-2">
      <p>Proudly presented by</p><br>
      <img src="../resourses/nike-logo.png" class="img-responsive" alt="Nike">
    </div>
  </div>

  <div class="row team-session-heading">
    <div class="col-lg-2 border-right-white">
      <p><span class="text-grey">Sessions</span><br><span class="big-nums">342</span></p>
    </div>

    <div class="col-lg-2 border-right-white">
      <p><span class="text-grey">Matches</span><br><span class="big-nums">78</span></p>
    </div>

    <div class="col-lg-2 border-right-white">
      <p><span class="text-grey">Trainings</span><br><span class="big-nums">246</span></p>
    </div>

    <div class="col-lg-2 border-right-white">
      <p><span class="text-grey">Sprints</span><br><span class="big-nums">1047</span></p>
    </div>

    <div class="col-lg-2 border-right-white">
      <p><span class="text-grey">Distance</span><br><span class="big-nums">25954 km</span></p>
    </div>

    <div class="col-lg-2 bg-danger text-white text-center">
      <p class="red-paragraph"><span class="glyphicon glyphicon-play"></span>&nbsp;&nbsp;Start New Session</p>
    </div>
  </div>

  <div class="row team-session-info">

    <div class="col-lg-1" style="padding-left: 0px;margin-bottom:-5px;">
      <img src="../resourses/chelsea.png" alt="Chelsea FC" class="img-responsive bg-white">
    </div>

    <div class="col-lg-3">
      <h3 class="session-result-team-name">Chelsea FC</h3>
    </div>

    <div class="col-lg-2 text-center bg-white">
      <h1 class="text-black session-score">4 - 3</h1>
    </div>

    <div class="col-lg-3">
      <h3 class="session-result-team-name text-center">Manchester United</h3>
    </div>

    <div class="col-lg-1 bg-white" style="padding: 13px 0px;">
      <img src="../resourses/man-utd.jpg" alt="Manchester United FC" class="img-responsive">
    </div>

    <div class="col-lg-2">
      <p><span class="text-grey"
               style="padding-top:10px;">Last Session</span><br><span>Premier League Match</span><br><span>22.12.2017</span>
      </p>
    </div>
  </div>

  <div class="row team-session-stats-info">

    <div class="col-lg-3 col-lg-offset-1 text-center text-justify">
      <p><span>Diego Costa 12'</span></p>
      <p><span>Eden Hazard 17'</span></p>
      <p><span>Branislav Ivanovic 54'</span></p>
      <p><span>John Obi Mikel 89'</span></p>
    </div>

    <div class="col-lg-1 text-center border-right-white">
      <p class="session-info-icons"><i class="fa fa-futbol-o" aria-hidden="true"></i></p>
      <p class="session-info-icons"><i class="fa fa-futbol-o" aria-hidden="true"></i></p>
      <p class="session-info-icons"><i class="fa fa-futbol-o" aria-hidden="true"></i></p>
      <p class="session-info-icons"><i class="fa fa-futbol-o" aria-hidden="true"></i></p>
    </div>

    <div class="col-lg-1 text-center">
      <p><i class="fa fa-futbol-o" aria-hidden="true"></i></p>
      <p><i class="fa fa-futbol-o" aria-hidden="true"></i></p>
      <p><i class="fa fa-futbol-o" aria-hidden="true"></i></p>
    </div>

    <div class="col-lg-4 border-right-white text-right" style="padding-right: 140px;">
      <p><span>Wayne Rooney 12'</span></p>
      <p><span>Zlatan Ibrahimovic 17'</span></p>
      <p><span>Juan Mata 54'</span></p><br>
    </div>

    <div class="col-lg-2">
      <p><i class="fa fa-futbol-o icons-additional-info" aria-hidden="true"></i><span style="margin-left: 2px;">&nbsp;<small>13:30 - 15:27, Saturday</small></span>
      </p>
      <p><i class="fa fa-sun-o icons-additional-info" aria-hidden="true"></i><span style="margin-left:-1px;">&nbsp;&nbsp;<small>Sunny, 12&deg;C</small></span>
      </p>
      <p><i class="fa fa-users icons-additional-info" aria-hidden="true"></i><span>&nbsp;<small>11 players, 3 Substitutions</small></span>
      </p>
      <p><i class="fa fa-map-marker icons-additional-info" aria-hidden="true" style="margin-left:4px;"></i><span>&nbsp;&nbsp;<small>Stamford Bridge, London</small></span>
      </p>
    </div>
  </div>
  <div class="row session-empty-space">

  </div>
</div>
