<div class="row">
  <div class="col-lg-4 text-center tracktics-login" style="background:#282633; color:white;">
    <img src="../assets/images/tracktics-logo.png" alt="" style="background: inherit;">
    <h1>Get to the next level.</h1>
    <h3>Sing in now.</h3>
    <br>
    <input class="input-transparent" type="email"><br>
    <input class="input-transparent" type="password"><br>
    <button class="btn btn-success btn-lg">LOGIN</button>
    <br><br>
    <a href="">Forgot Password?</a><br><br>
    <button class="fb-login" style="background: #0B61A4;"><i class="fa fa-facebook" aria-hidden="true">&nbsp;&nbsp;&nbsp;</i><span>Sign in with Facebook</span>
    </button>
    <br>
    <button class="btn btn-primary btn-lg">CREATE ACCOUNT</button>
    <br>
  </div>
</div>

