.arrow{

  text-align: center;

  :before{
    background-size: cover;
    content:'';
    display: inline-block;
    height: 19px;
    margin-right: 9px;
    width: 16px;
  }

  font-size: 2em;

  &.small{
    font-size: 1.500em;
  }

  &.inner{
    position: absolute;
    top: 30px;
    right: 0px;
  }

  &.up{
    color: $button-active;
    :before{
      background: url('/assets/icons/arrow-up.svg');
    }
  }
  &.down{
    //color: $primary-red;
    :before{
      background: url('/assets/icons/arrow-down.svg');
    }
  }
  &.grey{

  }
}
