.editable-text-input{
  .fa-pencil{
    position: absolute;
    right: 37%;
    top: 35%;
    font-size: 125%;
    cursor: pointer;
  }
  .editable{
    float: left;
    background: white;
    margin: 10px 0px;
  }
  input[type="text"]{
    width: 50%;
    margin-right: 10px;
  }
  .btnSave, .btnCancel {
    font-size: 20px !important;
    padding: 0px;
    background: none;
    border: none;
  }
  .btnSave {
    color: #00a046 !important;
  }
  .glyphicon{
    margin-top: 10px;
  }
}
