<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 editable-text-input" style="background-color: lightgray;">
    <div ng-repeat="dataName in vm.data track by $index">
      <h3 ng-show="!vm.editButton">{{dataName.name}}</h3>
    </div>
    <i class="fa fa-pencil" ng-click="vm.editBtn()" ng-show="!vm.editButton"></i>

    <div ng-if="!vm.isArray">
      <h3 ng-show="!vm.editButton">{{vm.data}}</h3>
    </div>


    <div>
      <label>{{vm.label}}</label>
    </div>

    <div ng-show="vm.editButton">

      <div ng-if="vm.isArray" ng-repeat="newData in vm.data track by $index">
        <input class="editable" type="text" ng-model="vm.newData[$index]">
      </div>

      <div ng-if="!vm.isArray">
        <input class="editable" type="text" ng-model="vm.newStringData">
      </div>

      <button ng-click="vm.save()" class="btnSave"><span class="glyphicon glyphicon-ok"></span></button>
      <button ng-click="vm.cancel()" class="btnCancel"><span class="glyphicon glyphicon-remove"></span></button>
    </div>
  </div>
</div>
