@keyframes rowHeightOut {
  from {
    max-height: 30px;
    opacity: 1;
  }
  to {
    max-height: 0;
    opacity: 0;
  }
}

@keyframes spinX {
  from{
    @include rotate(0deg);
    //@include transform-origin(50% 50%);
  }

  to{
    @include rotate(360deg);
    //@include transform-origin(50% 50%);
  }
}