.radio,
.checkbox {
  display: block;
  cursor: pointer;
}

.radio:hover .inner {

}

.radio input,
.checkbox input {
  width: 1px;
  height: 1px;
  opacity: 0;
}

.radio input:checked + .outer .inner,
.checkbox input:checked + .outer .inner {
  @include scale(1);
  @include opacity(1);
}

.radio input:checked + .outer,
.checkbox input:checked + .outer { border: 3px solid #f08b3b; }

.radio input:focus + .outer .inner,
.checkbox input:focus + .outer .inner {
  @include scale(0.7);
  @include opacity(0.7);
  background-color: #e67012;
}

.radio .outer,
.checkbox .outer {
  border: 3px solid #0c70b4;
  border-radius: 50%;
  background-color: #fff;
  display: block;
  float: left;
  height: 20px;
  width: 20px;
}

.radio .inner,
.checkbox .inner {
  @include transition(all 0.25s ease-in-out);
  @include scale(0);
  @include opacity(0);
  @include border-bottom-radius(8px);
  @include border-top-radius(8px);
  @include transform-origin(50%);

  width: 16px;
  height: 16px;
  display: block;

  background-color: #f08b3b;
}

.tracktics-radio,
.tracktics-checkbox{
  display: block;
  margin: 0;

  &:before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }

  input:checked + .outer { border: 1px solid white; }
  input:checked ~ .text { color: white; }
  input:focus + .outer .inner {
    @include scale(1);
    @include opacity(1);
    background-color: white;
  }

  .outer{
    background: transparent;
    border: 1px solid $tertiary;
    display: inline-block;
    height: 18px;
    margin-right: 13px;
    vertical-align: middle;
    width: 18px;
  }

  .inner{
    background-color: white;
    width: 10px;
    margin: 3px;
    height: 10px;
  }

  .text{
    @include transition(color 0.2s ease-out);

    color: $tertiary;
    display: inline-block;
    font-size: 0.9em;
    font-weight: normal;
    line-height: 0.9em;
    text-transform: capitalize;
    vertical-align: middle;
  }
}

.tracktics-checkbox{
  .outer{
    margin-right: 0;
  }
}

.tracktics-square-checkbox{

  color: white;
  display: inline-block;
  margin-bottom: 13px;
  text-align: left;
  width: 240px;

  label {
    position: relative;
    padding-left: 30px;
    font-size: 0.857em;
    font-weight: normal;
    cursor: pointer;
  }

  label:before, label:after {
    font-family: FontAwesome;
    font-size: 21px;
    /*absolutely positioned*/
    position: absolute; top: 0; left: 0;
  }

  label:before {
    @include border-bottom-radius(3px);
    @include border-top-radius(3px);
    content: ' ';
    border: 1px solid white;
    height: 19px;
    width: 19px;
  }

  label:after {
    @include zoomOut($duration: 0.2s);
    content: '\f00c'; /*checked*/
    left: 3px;
    overflow: hidden;
    opacity: 0;
    transition: all 0.35s;
    top: -2px;
  }

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"]:checked + label:after {
    @include zoomIn($duration: 0.2s);
    opacity: 1;
  }
}


.form-wrapper{
  .item{
    width: 240px;
    margin: 0 auto 20px;

    .error-messages{
      @include transition(min-height 0.2s ease-out, padding-top 0.2s ease-out);
      background: $warning;
      padding: 12px 8px;
      text-align: left;
      min-height: 0;

      p{
        font-size: 0.8em;
        margin: 0;
      }

      &.ng-hide{

      }

      &.ng-hide-add{
        min-height: 0;
      }

      &.ng-hide-remove{
        min-height: 24px;

      }

    }
  }

  input:not([type]),
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    @include border-bottom-radius(3px);
    @include border-top-radius(3px);
    @include transition(background-color 0.2s ease-out, border-color 0.2s ease-out);

    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    color: white;
    font-size: 0.857em;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    padding: 0 14px 0 14px;
    position: relative;
    width: 100%;

    &::placeholder{
      color: white;
    }

    &:focus,
    &:active{
      border: none;
      outline: none;
    }

    &.ng-invalid:not(.ng-untouched){
      @include border-bottom-radius(0px);
      @include border-top-radius(0px);

      border: 1px solid $warning;
    }

    /*&.error,
    &.ng-invalid:not(.ng-untouched),
    &.ng-invalid-required:not(.ng-untouched),
    &.ng-invalid-error{
      background: $darkest-red;
      border: 2px solid $logout-red-active;
      .clear {
        color: #9F2018;
      }
    }

    &:focus,
    &.ng-dirty{
      background: $dark-grey;
      outline: none;
      .clear {
        display: block;
        color: $tick-grey;
      }
    }

    &.ng-empty{
      background: none;
      border: 1px solid #393939;
      .clear {
        color: $hover-grey;
      }
    }

    &.clear {
      .clear {
        display: block;
        color: $hover-grey;
      }
      background-color: $dark-grey;
      border: 1px solid $dark-grey;
    }*/
  }

}

.button{
  @include transition(background-color 0.2s ease-out, color 0.2s ease-out);
  @include border-bottom-radius(3px);
  @include border-top-radius(3px);

  background: transparent;
  display: block;
  color: white;
  cursor: pointer;
  font-size: 0.857em;
  line-height: 0.857em;
  margin: 0 auto;
  margin-bottom: 25px;
  outline: none;
  padding: 1.5em 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 240px;

  &:hover{
    color: $light-grey;
    text-decoration: none;
  }

  &.active{
    background-color: $button-active;
    color: $dark-blue;
    &:hover{
      background-color: $button-active-hover;
      color: $violet-blue;
    }
  }

  &.facebook{
    background-color: $facebook-color;
    margin-bottom: 20px;
    position: relative;

    &:before{
      background: url("/assets/icons/facebook.svg") no-repeat;
      background-size: contain;
      bottom: 0;
      content: '';
      display: inline-block;
      height: 36px;
      left: 19px;
      position: absolute;
      width: 35px;
    }
  }

  &.outline-link{
    border: 1px solid white;
    color: white;
  }

  input.upload {


    @include opacity(0);

    color: transparent;
    cursor: pointer;
    font-size: 0;
    left: 0;
    position: absolute;
    top: 0;

    &:hover{
      cursor: pointer;
    }

    &:focus{
      outline: none;
    }
  }

}

.text-link{
  @include transition(color 0.2s ease-out);
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 0.857em;
  margin-bottom: 25px;
  text-decoration: underline;

  &:hover{
    color: $light-grey;
  }
}

.switch {
  /* frame */
  @include border-top-radius(15px);
  @include border-bottom-radius(15px);
  @include box-shadow(none);

  background: $darkest-grey;
  border: none;
  height: 30px;
  width: 210px;

  &.checked {
    /* frame when enabled */
    background: $darkest-grey;
    border: none;

    .switch-text {
      .on {
        color: $font-grey;
        &:before {
          @include opacity(0);
        }
      }
      .off {
        color: white;
        &:after {
          @include opacity(1);
        }
      }
    }

    small {
      /* button when enabled */
      left: 88px;
    }
  }

  .switch-text {
    font-size: 12px;
    text-transform: capitalize;

    .on, .off {
      display: block;
    }

    .on {
      color: white;
      left: 0;
      padding: 4px 45px;
      top: 0;

    }
    .off {
      color: $font-grey;
      padding: 4px 50px;
      right: 0;
      top: 0;
    }
  }

  small {
    /* button */
    @include border-top-radius(15px);
    @include border-bottom-radius(15px);

    background: $font-grey;
    box-shadow: none;
    height: 30px;
    width: 121px;
    left: 0;
  }

}