.align-right{
  text-align: right;
}
.align-center{
  text-align: center;
}
.align-left{
  text-align: left;
}

.clear-padding{
  padding: 0;
}

.clear-margin{
  margin: 0 !important;
}

.clear-margin-bottom{
  margin-bottom: 0 !important;
}

.grid-pusher-12{
  margin-bottom: 12px;
}

.grid-pusher-18{
  margin-bottom: 18px;
}

.grid-pusher-26{
  margin-bottom: 26px;
}

.grid-horizontal-pusher-38{
  margin-right: 38px;
}

.grid-horizontal-pusher-24{
  margin-right: 24px;
}

.grid-horizontal-pusher-124{
  margin-right: 124px;
}

.vertically-aligned{
  &:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
}

.headline{
  font-size: 1.125em;
}

//.panel{

//  background-color: transparent;
//  border: none;
//  color: $secondary;
//  padding: 0;
//  margin: 0;
//  .panel-heading,
//  .panel-body{
//    padding-left: 0;
//    padding-right: 0;
//  }
//
//  .panel-heading{
//    background-color: transparent;
//    border-color: $tertiary;
//    font-size: 1em;
//    text-transform: uppercase;
//  }
//
//  .panel-body{
//    span, p{
//      display: inline-block;
//    }
//    .main{
//      font-size: 3.286em;
//    }
//    .additional{
//      font-size: 0.714em;
//    }
//  }
//}

.grid-height{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
