.mCS-tracktics.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
  background-image: none;
  background-color: $dark-grey;
}

.mCS-tracktics.mCSB_scrollTools_vertical .mCSB_dragger .mCSB_dragger_bar{
  background-image: none;
}

.mCS-tracktics.mCSB_scrollTools{
  opacity: 1;
  filter: "alpha(opacity=30)"; -ms-filter: "alpha(opacity=30)";
}

.mCS-tracktics.mCSB_scrollTools,
.mCS-tracktics.mCSB_scrollTools .mCSB_draggerContainer{
  @include border-left-radius(15px);
  @include border-right-radius(15px);
}

.mCS-tracktics.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
  @include border-left-radius(15px);
  @include border-right-radius(15px);

}

.mCSB_inside + .mCS-tracktics.mCSB_scrollTools_vertical{ right: 1px; }

.mCS-tracktics.mCSB_scrollTools_vertical{ box-shadow: none; }

.mCS-tracktics.mCSB_scrollTools_vertical{
  bottom: 0px;
  box-shadow: none;
}

.mCS-tracktics.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
  background-color:$darker-grey;
  margin: 0px;
  position: absolute;
  height: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 12px;
}

.mCS-tracktics.mCSB_scrollTools_vertical .mCSB_dragger .mCSB_dragger_bar{ box-shadow: none; }

.mCS-tracktics.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-tracktics.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.mCS-tracktics.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-tracktics.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{ background-color: $dark-grey; }

.mCS-tracktics.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

.mCS-tracktics.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar{
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}

.mCS-tracktics.mCSB_scrollTools_vertical .mCSB_dragger .mCSB_dragger_bar,
.mCS-tracktics-dark.mCSB_scrollTools_vertical .mCSB_dragger .mCSB_dragger_bar{
  height: 15px;
  width: auto;
}

.mCS-tracktics.mCSB_scrollTools .mCSB_draggerContainer{
  background-color: $darker-grey;
  z-index: 2;
}

.mCS-tracktics.mCSB_scrollTools .mCSB_draggerRail{ background-color: transparent; }

.mCS-tracktics.mCSB_scrollTools .mCSB_buttonUp{ display: none !important; background-position: -32px -72px; }

.mCS-tracktics.mCSB_scrollTools .mCSB_buttonDown{ display: none !important; background-position: -32px -92px; }

.mCS-tracktics.mCSB_scrollTools .mCSB_buttonLeft{ display: none !important; background-position: -40px -112px; }

.mCS-tracktics.mCSB_scrollTools .mCSB_buttonRight{ display: none !important; background-position: -40px -128px; }

// additional overwrites

.mCSB_scrollTools.mCSB_scrollTools_vertical{

}

.mCSB_vertical.mCSB_inside>.mCSB_container{
  @include transition(left 0.2s ease);
  margin-bottom: 0;

}

.mCS-tracktics.mCSB_scrollTools,
.mCS-tracktics.mCSB_scrollTools .mCSB_draggerContainer{

}

.mCSB_scrollTools.mCSB_scrollTools_vertical{

}

.mCustomScrollbar{
  -ms-touch-action: pinch-zoom;
  touch-action: pinch-zoom;

  /* direct pointer events to js */
}

.mCustomScrollbar.mCS_no_scrollbar, .mCustomScrollbar.mCS_touch_action{
  -ms-touch-action: auto;
  touch-action: auto;
}