// variables
$primary: #282633;
$secondary: #211b27;
$secondary-variant: #27232f;
$tertiary: #9f9dac;
$tertiary-variant: #6E6B79;
$warning: #DE0026;
$inverse-active: #ff2300;
$primary-red: #D61B1B;

$button-active: #3fd18a;
$button-active-hover: #7cd19a;


$dark-blue: #0C0539;
$violet-blue: #1f1739;
$facebook-color: #3A559F;
$light-grey: #C8C8C8;



$green: #37C800;
$yellow: #FFE100;
$orange: #FF2300;
$red: #E10000;
$darker-red: #a00000;
$dark-red: #820000;
$darkest-red: #320000;
$nav-red: #ff2400;

$logout-red: #ff2300;
$logout-red-hover: #be1400;
$logout-red-active: #a00000;
$lighter-red: #b90900;

$darkest-grey: #191919;
$active-darkest-grey: #1E1E1E;
$darker-grey:  #232323;
$middle-grey:  #282828;
$dark-grey: #323232;
$font-grey: #646464;
$hover-grey: #4b4b4b;
$dirt-white: #dcdcdc;
$tick-grey: #7a7a7a;

$grey: #A0A0A0;
$light-grey: #C8C8C8;
$lightest-grey: #DCDCDC;


$ocean-blue: #0064e6;
$gentle-blue: #003c96;
$slider-blue: #002896;
$slider-dark-blue: #0046aa;
$slider-light-blue: #00a0e6;
$slider-pointers-blue: #0447a0;

$violet: #7300CD;
//$dark-blue: #0F14D2;
$blue: #00B4E6;
$turqoise: #00FF96;

$pitch-green: #00d26d;
$go-green: #00a046;
$gentle-green: #007832;

$light-orange: #f98105;
$lighter-orange: #ff9b24;
$middle-orange: #f0aa00;
$lightest-orange: #f0be00;
$yellow: #ffff00;

$calm-blue: #005AAA;
$calm-blue-light: #0078c8;
$calm-blue-dark: #003c96;

$color_1: #333;
$color_2: #fff;
$color_3: #0B61A4;
$color_4: #3F92D2;
$color_5: #66A3D2;
$color_6: #8FB52D;
$fontOne: 'Helvetica Neue', helvetica, arial;

// sizes
$distance-chart-width: 895;

$graph-compressed-animation-duration: 0.2s;