<!-- /#sidebar-wrapper -->

<!-- Page Content -->
<h1>MAIN</h1>
<!-- /#page-content-wrapper -->
<button-group-selector data="vm.buttonGroupSelectorData"></button-group-selector>

<editable-text-input ng-show="vm.showEditableInput" data="vm.editableInputData.title"></editable-text-input>

<editable-text-input ng-show="vm.showEditableInput" data="vm.editableInputData1.title.name"></editable-text-input>

<editable-email-input ng-show="vm.showEditableInput" data="vm.editableEmailData1.title.name"></editable-email-input>


<div class="row">
  <highchart id="chart1" config="vm.chartConfig" class="span10"></highchart>
</div>

<div class="row" style="position: relative;">
  <!--<highchart id="chart2" config="vm.chartDonult" class="span10"></highchart>-->
  <div id="chart2" class="highcharts-container" >Placeholder for chart</div>

  <div id="addText" ng-init="vm.Test()">
    <span id="pieChartInfoText" style="position:absolute; text-align:center;width:68px; height:91px;" ng-style="vm.chartOptions.DonultStyle">
      <span style="font-size: 16px">{{vm.chartOptions.chartDonultTitle}}</span></br>
      <span style="font-size: 32px">{{vm.chartOptions.chartDonultPercent}}</span></br>
      <span style="font-size: 16px">{{vm.chartOptions.chartDonultValue}}</span>
    </span>
  </div>

</div>
<div class="row" style="position: relative;">
  <div id="columnStacked" class="highcharts-container" ng-init="vm.columnStacked()" >Placeholder for chart</div>
</div>

<div class="row">
<div ng-repeat="data in vm.type.offensiveAndDefensive" style="margin-right: 99px; display:inline-block">
  <p>{{data}}</p>
  <pitch-zone type="data.class"></pitch-zone>
</div>
<div ng-repeat="data in vm.type.sideDistribution" style="margin-right: 99px; display:inline-block">
    <p>{{data}}</p>
    <pitch-zone type="data.class"></pitch-zone>
</div>
</div>

<div class="row">
<heat-map></heat-map>
</div>
