.period-selector{
  //padding-right: 100px;
  top: 0;

  .irs-line{
    display: none;
  }

  .irs-grid{
    .irs-grid-text{
      display: none;
    }
  }

  .irs-bar{
    background: none;
    background-color: $tertiary-variant;
  }

  .irs-slider{
    &.from, &.to {
      @include border-top-radius(20px);
      @include border-bottom-radius(20px);
      background: none;
      background-color: $grey;
      cursor: pointer;
      height: 20px;
      width: 20px;

      &:active{
        cursor: -webkit-grabbing !important;
        cursor: -moz-grabbing !important;
      }

      &:before {
        @include border-top-radius(10px);
        @include border-bottom-radius(10px);
        background: $grey;
        border: 2px solid white;
        content: '';
        display: inline-block;
        height: 20px;
        left: 0px;
        position: absolute;
        top: 0px;
        width: 20px;
        z-index: 1;
      }

      &:after {
        //@include transition(min-height $graph-compressed-animation-duration linear, top $graph-compressed-animation-duration linear);
        background: white;
        content: '';
        display: inline-block;
        height: 44px;
        position: absolute;
        min-height: 44px;
        left: calc(50% - 1px);
        top: -17px;
        width: 2px;
      }
    }
  }

}