<div class="period-selector"
     id="{{vm.id}}"
     max="{{vm.max}}"
     from="{{vm.from}}"
     to="{{vm.to}}"
     from-min="{{vm.fromMin}}"
     to-max="{{vm.toMax}}"
     tt-period-selector>
    <input type="text" />

    <span class="close" ng-click="vm.onRemove({selector: vm})"></span>

</div>