.stat-info-donut {

  color: white;
  position: relative;
  overflow: hidden;

  &.large {
    height: 100px;
    width: 201px;

    .title {
      color: $tertiary;
      font-size: 0.625em;
      position: relative;
      top: -15px;
    }

    .value {
      position: absolute;
      font-size: 1.2em;
      top: -5px;
      left: -10px;
    }

    .additional-value {
      color: $tertiary;
      font-size: 0.875em;
    }

  }

  &.small {
    display: inline-block;
    height: 56px;
    vertical-align: middle;
    width: 56px;
  }

  .donut-info {
    @include translate(-50%, -50%);
    color: white;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
  }

}
