<div class="col-lg-2 stat-info-donut {{vm.class}}">
    <div class="donut-info" ng-show="vm.label">
        <div class="title">{{vm.label.title}}</div>
        <div class="value">{{vm.label.value | fixedLength }}%</div> <!---->
        <div class="additional-value">{{vm.label.additionalValue | fixedLength}} {{vm.label.metric}}</div> <!---->
    </div>
    <canvas ng-attr-id="{{'chart-donut' + vm.chartId}}"
            class="chart chart-doughnut"
            chart-data="vm.chartData.data"
            chart-labels="vm.chartData.labels"
            chart-options="vm.options"
            chart-dataset-override="vm.datasetOverride"></canvas>
</div>

