.editable-email-input{
  background: #211b27;
  color: white;
  .fa-pencil{
    position: absolute;
    right: 41%;
    top: 35%;
    cursor: pointer;
  }
  .editable{
    float: left;
    background: white;
  }
  input[type="text"]{
    background: transparent;
    border: none;
    border-bottom: 1px solid gray;
    width: 50%;
    margin-right: 10px;
  }
  .btnSave, .btnCancel {
    font-size: 20px !important;
    padding: 0px;
    background: none;
    border: none;
  }

  .btnSave {
    color: #00a046 !important;
  }
  .btnCancel{
    color: $tertiary;
  }
}
