<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 editable-email-input">
    <div class="panel panel-body no-bottom-border">
      <div ng-if="!vm.isArray">
        <h3 ng-show="!vm.editButton">{{vm.data}}</h3>
      </div>

      <i class="fa fa-pencil" ng-click="vm.editBtn()" ng-show="!vm.editButton"></i>

      <div>
        <label>{{vm.label}}</label>
      </div>
      <div ng-show="vm.editButton">
        <div ng-if="!vm.isArray">
          <input class="editable" type="text" ng-model="vm.newStringData">
        </div>

        <button ng-click="vm.save()" class="btnSave"><span class="glyphicon glyphicon-ok"></span></button>
        <button ng-click="vm.cancel()" class="btnCancel"><span class="glyphicon glyphicon-remove"></span></button>
      </div>
    </div>
  </div>
</div>

