<div class="container">
  <bar-graph chart-id="bar-graph-1" chart-data="vm.distance"></bar-graph>

  <div class="row" style="padding-top: 20px">
    <button class="btn btn-info" ng-click="vm.btnOnClick(vm.distanceName)">Show JSON Editor</button>
    <button class="btn btn-danger" ng-click="vm.btnSave(vm.distanceName)">Save</button>
    <div ng-show="vm.showDistanceJSONeditor">
      <angular-jsoneditor ng-model="vm.objDistance.data" options="vm.objDistance.options" style="width: 100%; height: 400px;"></angular-jsoneditor>
      <button type="button" class="" ng-click="vm.changeOptions(vm.distanceName)"><i class="fa fa-check-circle"></i> change options</button>
      <pre>{{vm.showJSON(vm.objDistance.data)}}</pre>
    </div>
  </div>

  <bar-graph chart-id="bar-graph-2" chart-data="vm.compareDistance" chart-coloring="true" class="compare-bar-graph"></bar-graph>

  <div class="row" style="padding-top: 20px">
    <button class="btn btn-info" ng-click="vm.btnOnClick(vm.compareDistanceName)">Show JSON Editor</button>
    <button class="btn btn-danger" ng-click="vm.btnSave(vm.compareDistanceName)">Save</button>
    <div ng-show="vm.showCompareDistanceJSONeditor">
      <angular-jsoneditor ng-model="vm.objCompareDistance.data" options="vm.objCompareDistance.options" style="width: 100%; height: 400px;"></angular-jsoneditor>
      <button type="button" class="" ng-click="vm.changeOptions(vm.compareDistanceName)"><i class="fa fa-check-circle"></i> change options</button>
      <pre>{{vm.showJSON(vm.objCompareDistance.data)}}</pre>
    </div>
  </div>
</div>
