.double-stat-info {
  background-color: $secondary;

  .data-num {
    font-size: 28px;
    color: white;
  }
  .data-big-num {
    margin-top: -10px;
    font-size: 56px;
    color: white;
  }
  .metrics {
    font-size: 14px;
    color: $tertiary;
  }
  .arrow-data {
    font-size: 28px;
    float: right;
    color: $button-active;
  }

  .data-big-arrow {
    margin-top: 10px;
  }
  .zones {
    font-size: 14px;
  }
  .donuts .arrow-data {
    float: none;
  }
  .donuts {
    h3 {
      color: white;
    }
    p {
      color: white;
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }
}
