.player-development-top-new {
  margin-top: 20px;

  .panel-default {
    padding-top: 19px;
    padding-bottom: 18px;
  }

  .player-name {
    color: white;
    margin-bottom: 22px;
  }
  .fa-ellipsis-v {
    font-size: 30px;
    transform: rotate(90deg);
    float: right;
    margin-top: -25px;
    margin-right: 10px;
  }
  .panel-body {
    padding: 0px;
    margin: 0px;
  }

  .title {
    color: $tertiary;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 3px;
  }

  .session-metadata {
    .metadata-col {
      background: $secondary;
    }
    .metadata-borderless {
      border: none;
    }
    .title {
      text-transform: uppercase;
      color: $tertiary;
      margin: 0px;
    }
    .panel-body {
      margin: 0%;
      padding: 0px;
      padding-top: 20px;

    }
    .panel-body:last-of-type {
      padding-top: 0px;
      margin-bottom: 0px;
    }

    .additional-metadata {
      float: right;
      color: #cdcdcd;
      font-size: 14px;
    }
  }

  .session-metadata {
    margin-top: 20px;
    .no-bottom-border {
      border: hidden;
      margin-top: 1px;
    }
    //.no-bottom-border:last-child {
    //  padding-bottom: 2.5px;
    //}
  }

  .session-metadata .panel-body:first-child {
    margin-top: -15px;
  }

  .general-info, .selected-period {
    margin: 0px 15px;
  }
  .player-info {
    display: inline;
    position: relative;
    margin: 0px;
    font-size: 80%;
  }
  .smaller {
    font-size: 75%;
  }
  .additional-metadata {
    font-size: 85%;
  }
  .text-big {
    color: white;
    font-size: 40px;
  }
  .units {
    font-size: 16px;
  }

  .player-position {
    color: $tertiary;
  }
  .navigation .fa, .navigation .glyphicon {
    margin-bottom: 5px;
    margin-left: 25%;
  }
  .content-info {
    margin-top: 26px;
    padding-bottom: 14px;
  }

  .content-period {
    margin-top: 13px;
    margin-right: 11px;
    margin-left: 5px;
    padding-bottom: 1px;
  }
  .navigation {
    margin-top: 4px;
    img {
      margin-bottom: 20px;
    }
  }
  .team-won, .team-draw, .team-lost {
    margin-top: -10px;
    margin-bottom: -3px;
  }
  .team-record {
    font-size: 16px;
    float: right;
  }
}

.highlights-new {
  .panel-body {
    width: 100%;
    margin-left: 0px;
  }
  [class*="col-"] {
    height: 60px;
  }
  [class*="col-"]:nth-child(2) {
    .panel-body {
      margin-left: -10px;
    }
  }
  [class*="col-"]:nth-child(3) {
    .panel-body {
      width: 104%;
      margin-left: -10px;
    }
  }
  p {
    padding-top: 10px;
  }
}
