.player-development-top {
  margin-top: 20px;
  //background: $primary;

  //.session-details-top {
  //  margin-top: 0px;
  //  background: none ;
  //}

  .player-name {
    color: white;
  }
  .fa-ellipsis-v {
    font-size: 30px;
    transform: rotate(90deg);
    float: right;
    margin-top: -25px;
    margin-right: 10px;
  }
  .panel-body {
    padding: 0px;
    margin: 0px;
  }

  .title {
    color: $tertiary;
    font-size: 12px;
    margin-bottom: 3px;
  }

  .session-metadata {
    .metadata-col {
      background: $secondary;
    }
    .metadata-borderless {
      border: none;
    }
    .title {
      text-transform: uppercase;
      color: $tertiary;
      font-weight: bold;
      margin: 0px;
    }
    .panel-body {
      margin: 0%;
      padding: 0px;
      padding-top: 20px;

    }
    .panel-body:last-of-type {
      //border-bottom: 1px solid $tertiary ;
      margin-bottom: 25px;
    }
    .additional-metadata {
      float: right;
      color: #cdcdcd;
      font-size: 12px;
    }
  }

  .session-metadata {
    margin-top: 20px;
    .no-bottom-border {
      border: hidden;
      margin-top: 1px;
    }
    //.no-bottom-border:last-child {
    //  padding-bottom: 2.5px;
    //}
  }

  .session-metadata .panel-body:first-child {
    margin-top: -15px;
  }

  .general-info, .selected-period {
    margin: 0px 15px;
  }
  .player-info {
    display: inline;
    position: relative;
    margin: 0px;
    font-size: 80%;
  }
  .smaller {
    font-size: 75%;
  }
  .additional-metadata {
    font-size: 85%;
  }
  .text-big {
    font-size: 30px;
    margin-top: -21px;
    right: 0;
    float: right;
  }

  .player-position {
    color: $tertiary;
  }
  .navigation .fa, .navigation .glyphicon {
    margin-bottom: 5px;
    margin-left: 25%;
  }
  .content-info {
    margin-top: 18px;
  }

  .content-period {
    margin-top: 13px;
    margin-right: 11px;
    margin-left: 5px;
    padding-bottom: 1px;
  }
}
