.session-details-top {
  //background: $primary;
  margin-top: 20px;
  .match-session {
    display: inline;
  }
  .image {
    height: 175px;
    overflow: hidden;
  }

  .match-info {
    padding-top: 20px;
    width: 98%;
    margin-top: 0px;
  }
  .headings {
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid $tertiary;
    padding: 5px 0px;
    margin-bottom: -5px;
  }
  .data-big-num {
    font-weight: normal;
    margin-top: -10px;
    font-size: 40px;
    color: black;
  }
  .metrics {
    font-size: 14px;
    color: $tertiary;
  }
  .arrow-float-right {
    float: right;
    font-size: 25px;
    margin-top: 5%;
  }
  .fa-history, .glyphicon-transfer, .sessions-icon, .compare-icon, .back-icon {
    font-size: 56px;
    margin-bottom: 35px;
    margin-left: 15%;
  }
  .navigation {
    color: $tertiary;
    text-transform: uppercase;
    margin-top: -5px;
  }
  .player-info-field .player-position {
    color: $tertiary;
  }
  .player-name {
    color: white;
    margin: 0px;
  }
  [class*="col-"] {
    .panel-body:last-child {
      margin-bottom: 6px;
    }
  }
  //.three-dots {
  //  padding-left: 40px;
  //}

  .fa-ellipsis-v {
    font-size: 30px;
    transform: rotate(90deg);
    float: right;
    margin-top: -7px;
    margin-right: 15px;
  }

  .for-bottom-border {
    margin: 20px 15px;
    border-bottom: 1px solid gray;
  }
  .session-details-result {
    margin-top: -20px;
  }
  .match-score {
    font-size: 40px;
    margin-left: -20px;
    margin-top: 5px;
  }
  .match-session {
    margin-bottom: 0px;
  }
  .spacing-top {
    margin-top: 20px;
  }
  .additional-metadata {
    float: right;
    color: #cdcdcd;
    font-size: 15px;
  }
  .session-metadata .panel-body {
    padding: 19px 0px 0px 0px;
  }
}
