.team-session-overview {
  .team-session-heading {
    margin: 0px;
    background: rgba(40, 38, 51, 0.8);
    color: white;
    overflow: hidden;

    [class*="col-"] {
      height: 60px;
      padding-top: 5px;
    }

    .big-nums {
      font-size: 28px;
      margin-top: -5px;
      margin-left: 5px;
    }
    .red-paragraph {
      position: absolute;
      top: 35%;
      left: 12%;
    }
  }

  .team-session-info {
    margin: 0px;
    margin-top: 20px;
    background: rgba(40, 38, 51, 0.95);
    color: white;
    overflow: hidden;

    .big-nums {
      font-size: 28px;
    }
    .session-score {
      margin-bottom: 20px;
    }
    .session-result-team-name {
      padding-top: 5px;
    }
  }

  .team-info {
    color: white;
    .team-name {
      margin-top: 40px;
    }
    .active-players {
      margin-top: -20px;
      font-size: 20px;
    }
  }

  .team-session-stats-info {
    margin: 0px;
    background: rgba(40, 38, 51, 0.6);
    color: white;
    overflow: hidden;

    [class*="col-"] {
      padding-top: 20px;
    }
    .session-info-icons:last-of-type {
      margin: 0px;
    }
    //.icons-additional-info{
    //float:left;
    //}
  }
  .session-empty-space {
    height: 400px;
    margin: 0px;
    background: rgba(40, 80, 216, 0.4);
    color: white;
    overflow: hidden;
  }
  .session-result {
    .panel-default {
      margin-bottom: 0px;
      border: none;
    }
    .panel-default:last-of-type {
      margin-top: -1%;
    }
    .img-avatar-xs {
      margin-right: 10px;
      border: 1px solid transparent;
      border-radius: 50%;
      width: 30px;
      height: 30px;
    }
    .goals {
      float: right;
      font-size: 24px;
    }

  }
}
