.tracktics-login {
  margin-top: 50px;
  opacity: 0.95;
  input {
    width: 75%;
  }
  button {
    margin-left: 5px;
    margin-bottom: 10px;
    width: 75%;
  }
  a {
    color: white;
  }
  .fb-login {
    font-size: 18px;
    width: 75%;
    border: none;
    padding: 10px 20px;

    span {
      margin-top: -10px;
    }
  }
  .fa-facebook {
    font-size: 32px;
  }
}
