<div class="container">
<h1>This is StatInfo Single Comparison</h1>
  <stat-info-single-comparison class="col-md-3" data="vm.stats.totalDistance"></stat-info-single-comparison>
  <stat-info-single-comparison class="col-md-3" data="vm.stats.averageSessionPace"></stat-info-single-comparison>
  <stat-info-single-comparison class="col-md-3" data="vm.stats.selectedTotalDistance"></stat-info-single-comparison>
  <stat-info-single-comparison class="col-md-3" data="vm.stats.selectedAveragePace"></stat-info-single-comparison>

  <div class="row" style="padding-top: 20px">
    <button class="btn btn-info" ng-click="vm.btnOnClick()">Show JSON Editor</button>
    <button class="btn btn-danger" ng-click="vm.btnSave()">Save</button>
    <div ng-show="vm.showJSONeditor">
      <angular-jsoneditor ng-model="vm.obj.data" options="vm.obj.options" style="width: 100%; height: 400px;"></angular-jsoneditor>
      <button type="button" class="" ng-click="vm.changeOptions()"><i class="fa fa-check-circle"></i> change options</button>
      <pre>{{vm.showJSON(vm.obj.data)}}</pre>
    </div>
  </div>
</div>

