<div class="container">
  <div class="row">
    <div ng-repeat="data in vm.type.offensiveAndDefensive" style="margin-right: 99px; display:inline-block">
      <pitch-zone type="data.class"></pitch-zone>
    </div>
  </div>
  <div class="row">
    <div ng-repeat="data in vm.type.sideDistribution" style="margin-right: 99px; display:inline-block">
      <pitch-zone type="data.class"></pitch-zone>
    </div>
  </div>

  <div class="row" style="padding-top: 20px">
    <button class="btn btn-info" ng-click="vm.btnOnClick()">Show JSON Editor</button>
    <button class="btn btn-danger" ng-click="vm.btnSave()">Save</button>
    <div ng-show="vm.showJSONeditor">
      <angular-jsoneditor ng-model="vm.obj.data" options="vm.obj.options"
                          style="width: 100%; height: 400px;"></angular-jsoneditor>
      <button type="button" class="" ng-click="vm.changeOptions()"><i class="fa fa-check-circle"></i> change options
      </button>
      <pre>{{vm.showJSON(vm.obj.data)}}</pre>
    </div>
  </div>
</div>
