.details{
  color: white;
  text-align: left;
  span{
    display: block;
    text-transform: capitalize;
    &.large{
      font-size: 2em;
      line-height: 1.0em;
    }
    &.small{
      color: $tertiary;
      font-size: 1.4em;
    }
  }
}