<div class="player-details">
    <div class="details">
        <span class="large">{{vm.data.firstName}}</span>
        <span class="large">{{vm.data.lastName}}</span>
        <span class="small">{{vm.data.position}}</span>
    </div>
</div>