.stat-info-donut{

  color: white;
  position: relative;

  &.large{
    height: 131px;
    width: 131px;

    .title{
      font-size: 0.625em;
      margin-bottom: 9%;
    }

    .value{
      font-size: 3em;
    }

    .additional-value{
      font-size: 0.875em;
    }

  }

  &.small{
    display: inline-block;
    height: 56px;
    vertical-align: middle;
    width: 56px;
  }

  .donut-info{
    @include translate(-50%, -50%);
    color: white;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
  }

}
