.heatmap{

  .pitch{
    //height: 100%;
    margin: 0 auto;
    position: relative;
    //width: 100%;
    height: 416px;
    width: 613px;

    .pitch-background,
    .heatpitch,
    .arrows{
      height: 100%;
      position: absolute;
      top: 0;
      width: 100%;
    }

    .pitch-background{

      background: url("/assets/icons/large-pitch.svg") no-repeat -4px;
      background-size: contain;
      border: 1px solid white;
      z-index: 1;
      .pitch-center{
        background: white;
        height: 100%;
        left: calc(50% - 1px);
        position: absolute;
        width: 1px;
      }
    }

    .heatpitch{
      position: relative;
      canvas.heatmap-canvas{

      }
    }

    .arrows{
      //background: url("../resources/1024/player-arrow.png") repeat;
    }
  }
}
