<div id="heatmap" class="heatmap clearfix">
  <div class="pitch" pitch-height="{{vm.data.pitchHeight}}" tt-flexible-pitch>
    <div class="pitch-background">
      <div class="pitch-center"></div>
    </div>
    <div class="heatpitch" pitch-height="{{vm.data.pitchHeight}}" tt-heatmap></div>
  </div>
</div>
